Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

Fix minimum height not being applied
  src/conky.cc
Due: cpp-linter

Separate logging library
  src/CMakeLists.txt
  src/logger.cc
  src/logger.hh
  src/logging.h
  src/main.cc
  src/str_buffer.cc
  src/str_buffer.hh
Due: cpp-linter

Docker: make sure image has sensible default name
  .github/scripts/docker-build.bash
Due: none

Replace free with delete
  src/scroll.cc
Due: cpp-linter

Replace use of strncat in scroll.cc with strcat (#1950)
  src/scroll.cc
Due: cpp-linter

Fix minimum height not being applied (#1952)
  src/conky.cc
Due: cpp-linter

Revert changes from #1926 & #1877 (#1949)
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

set foreground colour to the first (lowest) colour before drawing the scale, to ensure it always stays the same colour
  src/conky.cc
Due: cpp-linter

added comment
  src/conky.cc
Due: cpp-linter

Docker: only write to cache if creds available
  .github/scripts/docker-build.bash
Due: none

Docker: username not secret; allow cache pulls
  .github/scripts/docker-build.bash
  .github/workflows/docker.yaml
Due: misc-linter

Thought I fixed this
  .github/workflows/docker.yaml
Due: misc-linter

Restore previous strut behavior
  src/geometry.h
  src/x11.cc
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Add Ubuntu 24.04 to CI & release assets
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/publish-appimage.yml
  requirements-dev.txt
Due: misc-linter

Bump web deps
  web/package-lock.json
  web/package.json
Due: misc-linter

Apply `npm audit fix`.
  web/package-lock.json
  web/package.json
Due: misc-linter

Fix AC/battery logic on FreeBSD.
  src/freebsd.cc
Due: cpp-linter

Move comment above the function it belongs to.
  src/freebsd.cc
Due: cpp-linter

Address feedback by brndnmtthws
  src/freebsd.cc
Due: cpp-linter

Fix minimum_height not scaled with dpi_scale like minimum_width
  src/conky.cc
Due: cpp-linter

Fix minimum_height not scaled with dpi_scale like minimum_width (#1980)
  src/conky.cc
Due: cpp-linter

Drop macos 11 build
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter
