Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Use /etc/os-release for distribution variable (#2221)
  doc/variables.yaml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

Handle paths
  src/lua/llua.cc
Due: cpp-linter

Add MOC varibles
  doc/variables.yaml
  src/core.cc
  src/data/audio/moc.cc
  src/data/audio/moc.h
Due: cpp-linter, misc-linter

Clean-up unused method
  src/data/audio/moc.cc
Due: cpp-linter

Extended MOC variables (#2231)
  doc/variables.yaml
  src/core.cc
  src/data/audio/moc.cc
  src/data/audio/moc.h
Due: cpp-linter, misc-linter

Add debug AppImage
  .github/workflows/publish-appimage.yml
  .gitignore
  appimage/build.sh
Due: misc-linter

Remove CMake brew install
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Update config_settings.yaml
  doc/config_settings.yaml
Due: misc-linter

Change if_up_strictness desc and add default: up
  doc/config_settings.yaml
Due: misc-linter

Single quotes in default fields
  doc/config_settings.yaml
Due: misc-linter

units_spacer as one string
  doc/config_settings.yaml
Due: misc-linter

Double quotes should work in units_spacer's default
  doc/config_settings.yaml
Due: misc-linter

Update config_settings.yaml (#2255)
  doc/config_settings.yaml
Due: misc-linter

Fix .dockerignore
  .dockerignore
Due: none

chore: bump web deps
  web/components/Search.tsx
  web/next-env.d.ts
  web/package-lock.json
  web/package.json
Due: web-linter, misc-linter

Fix background rendering for wayland output
  src/output/display-wayland.cc
Due: cpp-linter

Remove code accidently re added in merge
  Dockerfile
Due: none

Fix an uneeded formatting change
  cmake/ConkyBuildOptions.cmake
Due: none

Fix formatting
  lua/CMakeLists.txt
Due: none

Bump Copyright year
  cmake/ConkyPlatformChecks.cmake
Due: none

Use freetype2 and bump copyright
  lua/libcairo_text_helper.h
Due: cpp-linter

Revert "Use freetype2 and bump copyright"
  lua/libcairo_text_helper.h
Due: cpp-linter

Reverted wrong commit, fix memory leak again
  lua/libcairo_text_helper.h
Due: cpp-linter

Don't need libs for freetype
  cmake/ConkyPlatformChecks.cmake
Due: none

See if the CI likes this version better
  cmake/ConkyPlatformChecks.cmake
Due: none

Dockerfile: fix regression in builder
  Dockerfile
Due: none

More whitespace fixes
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
Due: none

More whitespace
  cmake/ConkyBuildOptions.cmake
Due: none

Fixed an incorrect comment
  lua/libcairo_text_helper.h
Due: cpp-linter

Fix alignment for TTB Text
  lua/libcairo_text_helper.h
Due: cpp-linter

Fix lvalue member reference in geometry
  3rdparty/Vc/CMakeLists.txt
  src/geometry.h
Due: cpp-linter

theme presets devel
  src/conky.cc
  src/conky.h
  src/main.cc
  src/themespresetmanager.cpp
  src/themespresetmanager.h
Due: cpp-linter

cmake add gitlib2
  CMakeLists.txt
Due: none

cmake fixes
  src/CMakeLists.txt
Due: none

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
