Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

Bump version
  cmake/Conky.cmake
Due: none

Make web test less janky
  web/cypress/e2e/basic.cy.js
Due: web-linter

Patch toluapp for reproducible output
  3rdparty/toluapp/src/bin/lua/package.lua
Due: none

hwmon: Fix device name path for some devices.
  src/linux.cc
Due: cpp-linter

fixed bug 1630: wrong CPU values when no ${top *} var was used https://github.com/brndnmtthws/conky/issues/1630
  src/linux.cc
Due: cpp-linter

Fix long/short cpu stat init
  src/core.cc
  src/linux.cc
  src/linux.h
Due: cpp-linter

Bump web deps
  web/package-lock.json
  web/package.json
Due: misc-linter

Preserve ordering of generated Lua code
  3rdparty/toluapp/src/bin/lua/orderedPairs.lua
  3rdparty/toluapp/src/bin/lua/package.lua
Due: none

Refactor this
  3rdparty/toluapp/src/bin/lua/all.lua
  3rdparty/toluapp/src/bin/lua/orderedPairs.lua
  3rdparty/toluapp/src/bin/lua/ordered_pairs.lua
  3rdparty/toluapp/src/bin/lua/package.lua
Due: none

Preserve ordering of generated Lua code (#1646)
  3rdparty/toluapp/src/bin/lua/all.lua
  3rdparty/toluapp/src/bin/lua/ordered_pairs.lua
  3rdparty/toluapp/src/bin/lua/package.lua
Due: none

Improve speedgraph scale descriptions in docs
  doc/variables.yaml
Due: misc-linter

Add Wayland event listeners for pointer
  src/conky.cc
  src/display-wayland.cc
Due: cpp-linter

Include mouse-events.h in llua.cc
  src/llua.cc
Due: cpp-linter

Pass cursor move event to the script
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/mouse-events.cc
  src/mouse-events.h
Due: cpp-linter

Add support for all previously supported events
  src/display-wayland.cc
  src/mouse-events.cc
  src/mouse-events.h
Due: cpp-linter

Improve Lua table data
  src/mouse-events.cc
Due: cpp-linter

Add deprecation error and fix stack management
  src/llua.cc
Due: cpp-linter

Fix lua stack pops in one of error branches
  src/conky.cc
  src/display-wayland.cc
  src/llua.cc
Due: cpp-linter

Fix X11 build
  3rdparty/toluapp/CMakeLists.txt
  cmake/ConkyPlatformChecks.cmake
  src/CMakeLists.txt
  src/display-wayland.cc
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
Due: cpp-linter

Remove duplicate BUILD_MOUSE_EVENTS includes (again)
  src/CMakeLists.txt
  src/display-wayland.cc
Due: cpp-linter

Tweaks
  src/display-wayland.cc
  src/display-x11.cc
  src/main.cc
Due: cpp-linter

Add <array> import
  doc/config_settings.yaml
  src/display-wayland.cc
  src/llua.cc
Due: cpp-linter, misc-linter

Cleanup includes
  src/display-wayland.cc
Due: cpp-linter

Remove uint to make MacOS happy
  src/mouse-events.cc
Due: cpp-linter

Use SFINAE to collapse numeric pust_table_value impls
  src/mouse-events.cc
Due: cpp-linter

Cleanup display-x11 includes
  src/display-x11.cc
Due: cpp-linter

Debug X11 enter & leave events
  src/display-x11.cc
Due: cpp-linter

Drop graph/linechart from web header
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/LineChart.tsx
  web/components/Search.tsx
  web/package-lock.json
  web/package.json
  web/utils/search.ts
Due: web-linter, misc-linter

Run npm audit fix
  web/package-lock.json
Due: misc-linter

Fix X11 area enter & leave bug
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/display-x11.cc
  src/logging.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
