Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

fix: parse proc stat without suppressed length modifiers
  src/data/proc.cc
Due: cpp-linter

test(proc): freeze child for vm status
  tests/test-linux-proc.cc
Due: cpp-linter

fix(darwin): correct top cpu percentage math
  src/CMakeLists.txt
  src/data/os/darwin.mm
  src/data/os/darwin_top_helpers.cc
  src/data/os/darwin_top_helpers.h
  src/data/top.cc
  tests/test-darwin-top.cc
Due: cpp-linter

fix(proc): harden /proc helpers and add tests
  src/data/proc.cc
  tests/test-linux-proc.cc
Due: cpp-linter

Fix background rendering for wayland output
  src/output/display-wayland.cc
Due: cpp-linter

Fix mouse button events for owned windows with XInput2; Fixes #2047
  src/output/x11.cc
Due: cpp-linter

fix: ignore non-pid entries in cmdline_to_pid
  src/data/proc.cc
Due: cpp-linter

Fixed typo inside the hwmon parse error message
  src/core.cc
Due: cpp-linter

chore: only run CI for macos-latest
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Fix lvalue member reference in geometry
  3rdparty/Vc/CMakeLists.txt
  src/geometry.h
Due: cpp-linter

test(proc): tolerate vmrss drift
  tests/test-linux-proc.cc
Due: cpp-linter

fix(proc): harden /proc helpers
  src/data/proc.cc
  tests/test-linux-proc.cc
Due: cpp-linter

test(proc): stabilize pid_environ lookup
  tests/test-linux-proc.cc
Due: cpp-linter

fix(lua): initialize default harfbuzz language
  lua/libcairo_text_helper.h
Due: cpp-linter

Try again, I don't understand Ubuntu
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Attempt to fix workflows by adding freetype dep
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Probably actually need freetype6
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Better Text Rendering for cairo / lua (#1501)
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  AUTHORS
  Dockerfile
  appimage/build.sh
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  doc/lua.yaml
  lua/CMakeLists.txt
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
  lua/text.pkg
  src/main.cc
Due: cpp-linter, misc-linter

Added sysfs bar support: i2cbar, platformbar and hwmonbar
  src/core.cc
  src/data/os/linux.cc
  src/data/os/linux.h
Due: cpp-linter

Adjusted variables documentation to reflect the new sysfs bar variables
  doc/variables.yaml
Due: misc-linter

Added a new 'memwithbuffersperc' variable to get the percentage of mem in use, including buffers and caches
  doc/variables.yaml
  src/common.cc
  src/common.h
  src/core.cc
Due: cpp-linter, misc-linter

Added a new width argument to 'hr' and 'stippled_hr' variables
  doc/variables.yaml
  src/conky.cc
  src/content/specials.cc
  src/content/specials.h
  src/core.cc
Due: cpp-linter, misc-linter

fix(build): Disable root paths when finding protocol files
  src/CMakeLists.txt
Due: none

Refactor: Replace magic numbers with named constant in linux.cc
  src/data/os/linux.cc
Due: cpp-linter

Fix uninstall script
  cmake/UninstallConky.cmake.in
Due: none

Fix uninstall CMake script (#2321)
  cmake/UninstallConky.cmake.in
Due: none

fix(build): Disable root paths when finding protocol files (#2319)
  src/CMakeLists.txt
Due: none

docs: add repository and copilot review instructions
  .github/instructions/cmake-review.instructions.md
  .github/instructions/cpp-review.instructions.md
  .github/instructions/workflow-review.instructions.md
  AGENTS.md
  CLAUDE.md
Due: misc-linter

docs: correct text object and callback guidance
  .github/instructions/cpp-review.instructions.md
  AGENTS.md
Due: misc-linter

docs: add repository and copilot review instructions (#2322)
  .github/instructions/cmake-review.instructions.md
  .github/instructions/cpp-review.instructions.md
  .github/instructions/workflow-review.instructions.md
  AGENTS.md
  CLAUDE.md
Due: misc-linter

fix(linux): fix off-by-one buffer overflow in process_parse_stat
  src/data/os/linux.cc
Due: cpp-linter

fix(linux): fix off-by-one buffer overflow in process_parse_stat (#2324)
  src/data/os/linux.cc
Due: cpp-linter

chore: bump version
  cmake/Conky.cmake
Due: none

chore: bump version (#2325)
  cmake/Conky.cmake
Due: none

fix(security): harden network fetches and build detection
  cmake/ConkyPlatformChecks.cmake
  src/CMakeLists.txt
  src/common.cc
  src/common.h
  src/data/network/ccurl_thread.cc
  src/data/network/rss.cc
  src/data/network/rss.h
  src/output/display-http.cc
  src/output/display-http.hh
  tests/CMakeLists.txt
  tests/test-security.cc
Due: cpp-linter
