Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

fix(conky): parse XDG_CURRENT_DESKTOP as colon-separated list
  src/conky.cc
Due: cpp-linter

chore: bump version
  cmake/Conky.cmake
Due: none

fix(conky): respect XDG desktop token order
  src/conky.cc
Due: cpp-linter

chore: bump version (#2361)
  cmake/Conky.cmake
Due: none

fix(conky): parse XDG_CURRENT_DESKTOP as colon-separated list (#2360)
  src/conky.cc
Due: cpp-linter

chore: bump version (#2362)
  cmake/Conky.cmake
Due: none

Remove mouse-events.h include guard from display-x11.cc
  src/output/display-x11.cc
Due: cpp-linter

fix(x11): clear XDBE back buffer explicitly to stop font thickening
  src/output/x11.cc
Due: cpp-linter

fix(core): align update schedule to wall-clock seconds
  src/common.cc
  src/common.h
  src/conky.cc
Due: cpp-linter

fix(x11): sync after XDBE swap to avoid frame repeat on Xwayland
  src/output/x11.cc
Due: cpp-linter

fix(core): align update schedule to wall-clock seconds (#2370)
  src/common.cc
  src/common.h
  src/conky.cc
Due: cpp-linter

Fix crash when XDG_SESSION_TYPE is empty
  src/conky.cc
Due: cpp-linter

Fix crash when XDG_SESSION_TYPE is empty (#2371)
  src/conky.cc
Due: cpp-linter

build: add mise development environment
  .envrc
  .github/workflows/web.yml
  AGENTS.md
  README.cmake
  README.md
  cmake/clang-format.cmake
  flake.nix
  lefthook.yml
  mise.lock
  mise.toml
  src/content/scroll.cc
  src/output/x11.cc
  tests/dockerfiles/Dockerfile.fedora-31-clang-8
  tests/dockerfiles/Dockerfile.fedora-32-clang-10
  tests/dockerfiles/Dockerfile.fedora-33-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-clang-11
  web/documents/compiling.mdx
  web/netlify.toml
  web/package.json
Due: cpp-linter, misc-linter

fix: set Netlify website base directory
  netlify.toml
Due: none

fix: isolate Netlify from project mise config
  netlify.toml
Due: none

fix: harden Bun installs in legacy images
  mise.toml
  tests/dockerfiles/Dockerfile.fedora-33-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-clang-11
Due: none

build: add mise development environment (#2372)
  .envrc
  .github/workflows/web.yml
  AGENTS.md
  README.cmake
  README.md
  cmake/clang-format.cmake
  flake.nix
  lefthook.yml
  mise.lock
  mise.toml
  netlify.toml
  src/content/scroll.cc
  src/output/x11.cc
  tests/dockerfiles/Dockerfile.fedora-31-clang-8
  tests/dockerfiles/Dockerfile.fedora-32-clang-10
  tests/dockerfiles/Dockerfile.fedora-33-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-clang-11
  web/documents/compiling.mdx
  web/netlify.toml
  web/package.json
Due: cpp-linter, misc-linter

build: install lefthook hooks on enter
  lefthook.yml
  mise.toml
Due: misc-linter

build: install lefthook hooks on enter (#2374)
  lefthook.yml
  mise.toml
Due: misc-linter

fix(x11): correct XPMDB swap presentation on Xwayland
  src/output/x11.cc
Due: cpp-linter

feat(text): add sysfs bar support: i2cbar, platformbar and hwmonbar
  doc/variables.yaml
  src/core.cc
  src/data/os/linux.cc
  src/data/os/linux.h
Due: cpp-linter, misc-linter

docs: cleanup hwmonbar, i2cbar, platformbar docs
  doc/variables.yaml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

fix(text): preserve sysfs bar sensor parsing
  doc/variables.yaml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

feat(text): add sysfs monitoring bar variables (#2285)
  doc/variables.yaml
  src/core.cc
  src/data/os/linux.cc
  src/data/os/linux.h
Due: cpp-linter, misc-linter

ci: consolidate required checks
  .github/scripts/check-ci-results.py
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
  .github/workflows/web.yml
  lefthook.yml
  mise.lock
  mise.toml
Due: misc-linter

ci: shellcheck staged shell scripts
  lefthook.yml
Due: misc-linter

ci: tighten workflow job selection
  .github/scripts/detect-ci-jobs.py
  .github/workflows/ci.yaml
Due: misc-linter

ci: preserve packaging checks for native changes
  .github/scripts/detect-ci-jobs.py
Due: none

ci: address workflow review feedback
  .github/scripts/detect-ci-jobs.py
  .github/workflows/ci.yaml
Due: misc-linter

ci: run all jobs for workflow changes
  .github/scripts/detect-ci-jobs.py
Due: none

refactor(ci): replace path predicate functions with anchored glob patterns
  .github/scripts/detect-ci-jobs.py
Due: none

refactor(ci): replace check-ci-results.py with `contains`
  .github/scripts/check-ci-results.py
  .github/workflows/ci.yaml
Due: misc-linter

chore(ci): update mise and quiet macOS warning
  .github/workflows/ci.yaml
Due: misc-linter

ci: consolidate required checks (#2378)
  .github/scripts/detect-ci-jobs.py
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/ci.yaml
  .github/workflows/docker.yaml
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
  .github/workflows/web.yml
  lefthook.yml
  mise.lock
  mise.toml
Due: misc-linter

Fix BUILD_LUA_CAIRO not adding cairo to conky_libs
  cmake/ConkyPlatformChecks.cmake
Due: none

Fix event propagation
  src/output/display-x11.cc
Due: cpp-linter
