Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

This too
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Fix regression in lua_load path handling
  src/llua.cc
Due: cpp-linter

lua-imlib2: Improve Error handling
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

lua-imlib2: Implement Stride in a standard way
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

lua-imlib2: Add missing logging.h file
  lua/logging.h
Due: cpp-linter

lua-imlib2: Add cairo_imlib2_helper to docs.
  doc/lua.yaml
Due: misc-linter

lua-imlib2: Fix alpha mask so that its scaled
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

Split cairo_draw_image into two functions
  lua/cairo_imlib2_helper.pkg
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

lua-imlib2: Fix typo in the docs.
  doc/lua.yaml
Due: misc-linter

lua-imlib2: move to conky style logging
  lua/CMakeLists.txt
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

Fix Memory Leak
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

Fix naming conflict for Imlib2.h
  src/CMakeLists.txt
  src/conky-imlib2.cc
  src/conky-imlib2.h
  src/conky.cc
  src/core.cc
  src/display-x11.cc
  src/gui.cc
  src/x11.cc
Due: cpp-linter

cmake: use full path rather then relative.
  lua/CMakeLists.txt
Due: none

Swap to internal C++ logging.h
  lua/CMakeLists.txt
  lua/libcairo_imlib2_helper.h
  lua/logging.h
Due: cpp-linter

Document cairo_place_image
  doc/lua.yaml
Due: misc-linter

Tidy up docs
  doc/config_settings.yaml
  doc/lua.yaml
  doc/variables.yaml
Due: misc-linter

Add note about nixpkgs package to README
  README.md
Due: misc-linter

Increase max length of ACPI temp (fixes #977)
  src/linux.cc
Due: cpp-linter

Update README.md
  README.md
Due: misc-linter

Skip propagation of non-input events
  src/display-x11.cc
  src/x11.cc
Due: cpp-linter

Handle external PropertyNotify events
  src/display-x11.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
