Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

Check librsvg version before enabling
  appimage/build.sh
Due: none

Ubuntu 20.04 clang+library-versions typo
  .github/workflows/publish-appimage.yml
Due: misc-linter

Missed `.sha256` extension
  .github/workflows/publish-appimage.yml
Due: misc-linter

Typo
  .github/workflows/publish-appimage.yml
Due: misc-linter

Allow visibility in `>> $GITHUB_ENV`s
  .github/workflows/publish-appimage.yml
Due: misc-linter

Underp this derp
  .github/workflows/publish-appimage.yml
Due: misc-linter

Try harder to ignore duplicate `conky.1.gz`s
  .github/workflows/publish-appimage.yml
Due: misc-linter

D'oh! We need tags to `git describe`
  .github/workflows/publish-appimage.yml
Due: misc-linter

Fix clang versions
  .github/workflows/publish-appimage.yml
Due: misc-linter

Rotate appimage signing key
  appimage/build.sh
  appimage/pubkey.asc
  appimage/secret.gpg.enc
Due: none

Add/use clang 15 on ubuntu builds
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/publish-appimage.yml
Due: misc-linter

This too
  .github/workflows/build-and-test-linux.yaml
Due: misc-linter

Reorder these
  .github/workflows/build-and-test-linux.yaml
Due: misc-linter

Bump version
  cmake/Conky.cmake
Due: none

Define text_object.data.l as "long long"
  src/text_object.h
Due: cpp-linter

Re-define text_object.data.l as "int64_t"
  src/text_object.h
Due: cpp-linter

Bump web deps, fix lint
  web/package-lock.json
  web/package.json
  web/pages/documents/[slug].tsx
Due: web-linter, misc-linter

lua-text: Fix build with
  lua/libcairo_text_helper.h
Due: cpp-linter

Fix bad imlib2 typedefs for imlib<1.10
  lua/imlib2_old.pkg
Due: none

This is duplicated
  lua/imlib2_old.pkg
Due: none

Actually that won't work
  lua/imlib2_old.pkg
Due: none

Updated flake per https://github.com/NixOS/nix/issues/5532
  flake.lock
  flake.nix
Due: none

Update install instructions, fix Lua link
  README.md
Due: misc-linter

Update README.md
  README.md
Due: misc-linter

Use --force with brew install, block upgrades
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

This too
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Just ignore homebrew return code
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
