Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Bump version
  cmake/Conky.cmake
Due: none

set display to null for race condition
  src/x11.cc
Due: cpp-linter

src/fs.{cc,h}: Update fs_stats without error spam.
  AUTHORS
  src/fs.cc
  src/fs.h
Due: cpp-linter

src/fs.cc: Fix whitespace mistake.
  src/fs.cc
Due: cpp-linter

Bump web deps
  web/next-env.d.ts
  web/package-lock.json
  web/package.json
Due: web-linter, misc-linter

Disable nextjs telemetry
  web/package.json
Due: misc-linter

Fix interface definition
  web/components/Search.tsx
Due: web-linter

audacious.cc: print_audacious_filename(): fix always empty $audacious_filename
  src/audacious.cc
Due: cpp-linter

Fix tcp_ping for non-existent local network hosts
  src/read_tcpip.cc
Due: cpp-linter

Implement `-U`.
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Due: cpp-linter

Use `ps` to check the running processes.
  src/main.cc
Due: cpp-linter

Fix name check.
  src/main.cc
Due: cpp-linter

Fix compile errors
  src/display-x11.cc
  src/netlink-conky.cc
Due: cpp-linter

fix: set initial state withdrawn wm hint (fixes #2046)
  src/x11.cc
Due: cpp-linter

Document requirement
  src/x11.cc
Due: cpp-linter

Fix incorrect X11 dock/panel placement (#2056)
  src/x11.cc
Due: cpp-linter

Add OS labels
  .github/labeler.yml
Due: misc-linter

Change labeler action provider
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Add labels for issue content matches
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Tweak settings
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Detect more labels
  .github/labeler.yml
Due: misc-linter

Add automatic labeling for issues (#2057)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Revert "Add automatic labeling for issues (#2057)"
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Revert "Add automatic labeling for issues (#2057)" (#2058)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Fix if_match comparison for string operands containing operator symbols (#1988)
  src/algebra.cc
Due: cpp-linter

lua-text use cairo_fill_preserve
  lua/libcairo_text_helper.h
Due: cpp-linter

Go back to `/proc`.
  src/main.cc
Due: cpp-linter

Add algebra unit tests
  src/algebra.cc
  src/algebra.h
  tests/CMakeLists.txt
  tests/test-algebra.cc
Due: cpp-linter

Fix test cases
  tests/test-algebra.cc
Due: cpp-linter

Hide U flag altogether if not on Linux
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Due: cpp-linter

Move `is_conky_already_running()` to src/linux.cc.
  src/linux.cc
  src/linux.h
  src/main.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
