Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

text_object: fix typo in cutesy error message
  src/text_object.cc
Due: cpp-linter

core, logging: remove clean_up_without_threads and simplify clean_up
  src/conky.cc
  src/logging.h
  src/main.cc
Due: cpp-linter

i8k: do not consider failing to open /proc/i8k fatal
  src/i8k.cc
Due: cpp-linter

i8k: allocate i8k_procbuf after opening /proc/i8k
  src/i8k.cc
Due: cpp-linter

i8k: print 'error' for i8k variables if /proc/i8k could not be read
  src/i8k.cc
Due: cpp-linter

logging: remove unused THREAD_CRIT_ERR
  src/logging.h
Due: cpp-linter

logging: define CRIT_ERR_FREE and simplify CRIT_ERR
  src/common.cc
  src/conky.cc
  src/core.cc
  src/darwin.mm
  src/display-x11.cc
  src/dragonfly.cc
  src/freebsd.cc
  src/fs.cc
  src/haiku.cc
  src/ibm.cc
  src/ical.cc
  src/iconv_tools.cc
  src/journal.cc
  src/logging.h
  src/main.cc
  src/mboxscan.cc
  src/net_stat.cc
  src/nvidia.cc
  src/openbsd.cc
  src/proc.cc
  src/pulseaudio.cc
  src/read_tcpip.cc
  src/scroll.cc
  src/sony.cc
  src/tailhead.cc
  src/tcp-portmon.cc
  src/template.cc
  src/text_object.cc
Due: cpp-linter

freebsd: infallibly allocate 16B buffer on stack
  src/freebsd.cc
Due: cpp-linter

core: reset selected_font when clearing fonts
  src/conky.cc
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Fix build on FreeBSD.
  src/freebsd.cc
Due: cpp-linter

Fix the words
  src/text_object.cc
Due: cpp-linter

Rename .prettierrc.cjs to .prettierrc.obj
  .prettierrc.obj
Due: none

Combine vim ftdetect commands
  extras/vim/ftdetect/conkyrc.vim
Due: none

core: use text_start_x as base for ${goto}
  src/conky.cc
Due: cpp-linter

add ${vgoto} for vertical placement
  src/conky.cc
  src/core.cc
  src/nvidia.cc
  src/specials.cc
  src/specials.h
Due: cpp-linter

docs: document ${vgoto}
  doc/variables.yaml
Due: misc-linter

Add nix flake dev shell, direnv, VSCode extensions, CI
  .envrc
  .github/workflows/nix.yaml
  .gitignore
  .vscode/extensions.json
  flake.lock
  flake.nix
  lefthook.yml
Due: misc-linter

Bump fonts, fix includes
  web/documents/compiling.mdx
  web/documents/docker.mdx
  web/package-lock.json
  web/package.json
  web/pages/_app.tsx
  web/styles/globals.css
  web/utils/tailwind-preset.js
Due: web-linter, misc-linter

Include cache in flake
  flake.nix
Due: none

Try the magic cache, use -y with npx
  .github/workflows/nix.yaml
  lefthook.yml
Due: misc-linter

Get rid these
  flake.nix
Due: none

Group dependabot PRs
  .github/dependabot.yml
Due: misc-linter

WIP: SDL display support
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/display-output.cc
  src/display-sdl.cc
  src/display-sdl.hh
  src/gui.cc
  src/gui.h
Due: cpp-linter

Fix build without X11
  src/display-x11.cc
Due: cpp-linter

Fix missing asprintf definition on Haiku
  cmake/Conky.cmake
  src/timeinfo.cc
Due: cpp-linter

Fix Haiku build
  src/haiku.cc
Due: cpp-linter

X11: Fix segfault on SIGINT
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
