Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

chore: trim TODOs down to short notes (#2395)
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  src/output/display-http.hh
Due: cpp-linter

test: add coverage for llua_http_response_hook (#2395)
  src/lua/llua.cc
  tests/test-http.cc
Due: cpp-linter

style: fix warning wording and clarify double-pop
  tests/test-http.cc
Due: cpp-linter

feat: wire llua_http_response_hook into sendanswer() (#2395)
  src/output/display-http.cc
Due: cpp-linter

docs: document lua_http_response_hook (#2395)
  doc/config_settings.yaml
Due: misc-linter

refactor: return std::optional<http_response> from the hook (#2395)
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  tests/test-http.cc
Due: cpp-linter

fix: revert accidental typo in unrelated TODO comment
  src/lua/llua.cc
Due: cpp-linter

docs: update stale llua_http_response_hook comment for optional return
  src/lua/llua.cc
Due: cpp-linter

fix: validate hook status code and check MHD_add_response_header result
  src/output/display-http.cc
Due: cpp-linter

ci: make 22.04 release AppImage the canonical default, add 26.04 to CI
  .github/actionlint.yaml
  .github/workflows/ci.yaml
  3rdparty/Vc/Vc/common/trigonometric.h
  3rdparty/Vc/Vc/global.h
Due: cpp-linter, misc-linter

ci: make 22.04 release AppImage the canonical default, add 26.04 to CI (#2463)
  .github/actionlint.yaml
  .github/workflows/ci.yaml
  3rdparty/Vc/Vc/common/trigonometric.h
  3rdparty/Vc/Vc/global.h
Due: cpp-linter, misc-linter

fix(lua/rsvg): fix RSVG Lua bindings: set/get typo, GError leak, GType crash, add positioning helper
  lua/CMakeLists.txt
  lua/librsvg-helper.h
  lua/rsvg.pkg
Due: cpp-linter

X11: keep window alive during SIGUSR1 reload (no flash)
  src/conky.cc
  src/conky.h
  src/output/display-x11.cc
  src/output/x11.cc
Due: cpp-linter

fix(lua/rsvg): fix RSVG Lua bindings: set/get typo, GError leak, GType crash, add positioning helper (#2438)
  lua/CMakeLists.txt
  lua/librsvg-helper.h
  lua/rsvg.pkg
Due: cpp-linter

X11: keep window alive during SIGUSR1 reload (no flash) (#2465)
  src/conky.cc
  src/conky.h
  src/output/display-x11.cc
  src/output/x11.cc
Due: cpp-linter

style(x11): clang-format else-block #2465 landed unformatted
  src/output/x11.cc
Due: cpp-linter

fix(x11): don't adopt desktop window on reload reuse
  src/output/x11.cc
Due: cpp-linter

fix(x11): don't adopt desktop window on reload reuse (#2466)
  src/output/x11.cc
Due: cpp-linter

fix(output): expose initializing output during display init
  src/output/display-output.cc
Due: cpp-linter

fix(output): expose initializing output during display init (#2468)
  src/output/display-output.cc
Due: cpp-linter

fix: handle X11 reload transitions and repeated docs navigation
  src/conky.cc
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
  tests/CMakeLists.txt
  tests/README-x11.md
  tests/test-x11-reload.py
  tests/test-x11-startup.py
  tests/x11-test-probe.cc
  web/components/Docs.tsx
  web/cypress/e2e/docs-navigation.cy.js
Due: web-linter, cpp-linter, misc-linter

test: preserve the element subject in docs viewport assertions
  web/cypress/e2e/docs-navigation.cy.js
Due: web-linter

fix: handle X11 reload transitions and repeated docs navigation (#2469)
  src/conky.cc
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
  tests/CMakeLists.txt
  tests/README-x11.md
  tests/test-x11-reload.py
  tests/test-x11-startup.py
  tests/x11-test-probe.cc
  web/components/Docs.tsx
  web/cypress/e2e/docs-navigation.cy.js
Due: web-linter, cpp-linter, misc-linter

chore: bump version to v1.25.3
  cmake/Version.cmake
Due: none

chore: bump version to v1.25.3 (#2472)
  cmake/Version.cmake
Due: none

fix: guard lua_L access with a mutex
  src/lua/llua.cc
Due: cpp-linter

ci: stop publishing sha256 checksums for AppImage releases
  .github/workflows/ci.yaml
  appimage/build.sh
Due: misc-linter

ci: stop publishing sha256 checksums for AppImage releases (#2474)
  .github/workflows/ci.yaml
  appimage/build.sh
Due: misc-linter

fix: don't hold builder_mutex around llua_http_response_hook()
  src/output/display-http.cc
Due: cpp-linter

docs: update lua_http_response_hook to reference output_backend, not deprecated out_to_http
  doc/config_settings.yaml
Due: misc-linter

fix: lock cleanup(), NULL-check MHD_create_response_from_buffer
  src/lua/llua.cc
  src/output/display-http.cc
Due: cpp-linter

feat: add lua_http_response_hook for customizable HTTP responses (#2421)
  doc/config_settings.yaml
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  src/output/display-http.hh
  tests/test-http.cc
Due: cpp-linter, misc-linter

fix(lua): make llua_do_call re-entrant and validate hook status
  src/lua/llua.cc
  tests/test-http.cc
Due: cpp-linter

fix(lua): make llua_do_call re-entrant and validate hook status (#2475)
  src/lua/llua.cc
  tests/test-http.cc
Due: cpp-linter

style: pin clang-format in mise and apply to C/C++ sources
  lua/librsvg-helper.h
  mise.lock
  mise.toml
  src/common.cc
  src/conky.cc
  src/data/audio/libmpdclient.cc
  src/data/fs.cc
  src/data/hardware/diskio.cc
  src/data/hardware/nvidia_nvml.cc
  src/data/network/mail.cc
  src/data/network/mboxscan.cc
  src/data/network/net_stat.cc
  src/data/network/read_tcpip.cc
  src/data/tailhead.cc
  src/data/users.cc
  src/output/display-http.cc
  src/output/display-x11.cc
  src/output/x11-event.cc
  tests/test-linux-proc.cc
  tests/test-net.cc
Due: cpp-linter

chore: lock
  mise.lock
Due: none

style: pin clang-format in mise and apply to C/C++ sources (#2476)
  lua/librsvg-helper.h
  mise.lock
  mise.toml
  src/common.cc
  src/conky.cc
  src/data/audio/libmpdclient.cc
  src/data/fs.cc
  src/data/hardware/diskio.cc
  src/data/hardware/nvidia_nvml.cc
  src/data/network/mail.cc
  src/data/network/mboxscan.cc
  src/data/network/net_stat.cc
  src/data/network/read_tcpip.cc
  src/data/tailhead.cc
  src/data/users.cc
  src/output/display-http.cc
  src/output/display-x11.cc
  src/output/x11-event.cc
  tests/test-linux-proc.cc
  tests/test-net.cc
Due: cpp-linter

fix(x11,wayland): load fonts before setup to avoid spurious index warning
  src/output/display-wayland.cc
  src/output/display-x11.cc
  tests/test-x11-reload.py
Due: cpp-linter

fix(x11,wayland): load fonts before setup to avoid spurious index warning (#2477)
  src/output/display-wayland.cc
  src/output/display-x11.cc
  tests/test-x11-reload.py
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
