Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

test(x11): serialize probe snapshots during window transitions
  tests/x11-test-probe.cc
Due: cpp-linter

test(x11): serialize probe snapshots during window transitions (#2478)
  tests/x11-test-probe.cc
Due: cpp-linter

fix(x11): preserve foreground alpha independently of background
  src/output/display-x11.cc
  tests/CMakeLists.txt
  tests/README-x11.md
  tests/x11-foreground-test.cc
Due: cpp-linter, misc-linter

test(x11): move foreground alpha regression into Catch2
  tests/CMakeLists.txt
  tests/README-x11.md
  tests/test-x11-foreground.cc
  tests/x11-foreground-test.cc
Due: cpp-linter, misc-linter

fix(x11): preserve foreground alpha independently of background (#2479)
  src/output/display-x11.cc
  tests/CMakeLists.txt
  tests/README-x11.md
  tests/test-x11-foreground.cc
Due: cpp-linter, misc-linter

chore: bump version to v1.25.4
  cmake/Version.cmake
Due: none

chore: bump version to v1.25.4 (#2482)
  cmake/Version.cmake
Due: none

fix: strip special chars from no_update cache to avoid segfault
  doc/variables.yaml
  src/common.cc
  src/conky.cc
Due: cpp-linter, misc-linter

fix: isolate no_update special registrations and add regression tests
  src/common.cc
  src/content/specials.cc
  src/content/specials.h
  tests/test-no-update.cc
Due: cpp-linter

fix: restore no_update parser color and deduplicate warnings
  src/common.cc
  src/content/specials.cc
  src/content/specials.h
  tests/test-no-update.cc
Due: cpp-linter

fix: isolate no_update specials and add regression coverage (#2484)
  doc/variables.yaml
  src/common.cc
  src/conky.cc
  src/content/specials.cc
  src/content/specials.h
  tests/test-no-update.cc
Due: cpp-linter, misc-linter

feat(x11): add own_window_input_from_alpha for click-through on transparent pixels
  src/output/x11.cc
Due: cpp-linter

docs: document own_window_input_from_alpha
  doc/config_settings.yaml
Due: misc-linter

fix(x11): restore input region when alpha shaping is disabled and reset cache per window
  src/output/x11.cc
Due: cpp-linter

fix(x11): send the alpha input region in bounded chunks
  src/output/x11.cc
Due: cpp-linter

fix(x11): the server's maximum request size
  src/output/x11.cc
Due: cpp-linter

fix(x11): make alpha input shaping safe across fallbacks and reloads
  doc/config_settings.yaml
  src/output/x11.cc
Due: cpp-linter, misc-linter

test(x11): cover alpha input masks and reload fallbacks
  tests/CMakeLists.txt
  tests/README-x11.md
  tests/test-x11-input-alpha.cc
Due: cpp-linter, misc-linter

ci(x11): run integration tests on an isolated Xvfb server
  .github/workflows/ci.yaml
  tests/README-x11.md
Due: misc-linter

ci(x11): document deferred DISPLAY expansion for shellcheck
  .github/workflows/ci.yaml
Due: misc-linter

fix(x11): bound alpha readback during asynchronous window resizing
  src/output/x11.cc
  tests/README-x11.md
  tests/test-x11-input-alpha.cc
Due: cpp-linter, misc-linter

ci(x11): keep Xvfb stable across client disconnects
  .github/workflows/ci.yaml
  tests/README-x11.md
Due: misc-linter
