Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,cpp}'
    misc-linter:
      run: |
        npx prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'

Fix type def, handle error case
  web/global.d.ts
  web/next.config.mjs
Due: web-linter

This span doesn't need to exist
  web/components/Footer.tsx
Due: web-linter

Link to latest commit in web footer
  web/components/Footer.tsx
  web/next.config.mjs
Due: web-linter

Introduce geometry primitives
  cmake/ConkyPlatformChecks.cmake
  src/conky.cc
  src/display-x11.cc
  src/geometry.h
  src/llua.cc
  src/main.h
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Add eigen dependency to workflows and nix flake
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  flake.nix
Due: misc-linter

Update wayland display to use geometry
  src/display-wayland.cc
Due: cpp-linter

Use discrete array type
  src/geometry.h
Due: cpp-linter

Re-enable RSS in AppImage, also enable in Nix flake
  appimage/build.sh
  flake.nix
Due: none

Ensure component access always returns wanted type
  src/geometry.h
Due: cpp-linter

Print appimage version for visibility
  .github/workflows/publish-appimage.yml
Due: misc-linter

Set RELEASE=ON only when it's a release
  .github/workflows/publish-appimage.yml
  appimage/build.sh
Due: misc-linter

Apply geometry to text bounds
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/llua.h
Due: cpp-linter

Revert unrelated codeql.yml changes
  .github/workflows/codeql.yml
Due: misc-linter

Review all replaced variables and fix errors
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/x11.cc
Due: cpp-linter

Add member access magic 🪄
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/llua.cc
  src/mouse-events.cc
  src/x11.cc
Due: cpp-linter

Fix bad early returns
  src/x11.cc
Due: cpp-linter

Prevent fallback tree traversal from propagation code
  src/x11.cc
  src/x11.h
Due: cpp-linter

Revert event changes
  src/x11.cc
Due: cpp-linter

Enable cURL, RSS on mac build, lint codeql.yml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/codeql.yml
Due: misc-linter

Fix bad query_x11_windows early returns (#1864)
  src/x11.cc
  src/x11.h
Due: cpp-linter

Apply rect to workarea
  src/conky-imlib2.cc
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/gui.cc
  src/gui.h
  src/llua.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Cleanup geometry.h
  src/geometry.h
Due: cpp-linter

Replace exceptions with UNREACHABLE
  src/geometry.h
  src/macros.h
Due: cpp-linter

Add eigen to 3rdparty
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/codeql.yml
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
  .gitmodules
  3rdparty/CMakeLists.txt
  CMakeLists.txt
  cmake/ConkyPlatformChecks.cmake
  cmake/InitSubmodules.cmake
  flake.nix
  lua/CMakeLists.txt
  src/CMakeLists.txt
  src/geometry.h
Due: cpp-linter, misc-linter

Disable -Wregister on gperf output
  .gitignore
  src/CMakeLists.txt
  src/colour-names-stub.hh
  src/colours.cc
Due: cpp-linter

Include these when linting
  lefthook.yml
Due: misc-linter

Simplify binary include handling (and fix build)
  src/CMakeLists.txt
Due: none

Require gperf at build-time
  cmake/Conky.cmake
  src/CMakeLists.txt
  src/colour-names-stub.hh
Due: none
