Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Tweak documentation
  doc/config_settings.yaml
Due: misc-linter

Add error for missing wayland-scanner
  cmake/ConkyPlatformChecks.cmake
Due: none

Add error for missing wayland-scanner (#2193)
  cmake/ConkyPlatformChecks.cmake
Due: none

Stub process checking for WM
  .git-blame-ignore-revs
  src/common.cc
  src/conky.cc
  src/data/top.cc
  src/data/top.h
  src/output/display-x11.cc
  src/output/gui.h
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

Improve X11 strut handling (#2190)
  .git-blame-ignore-revs
  cmake/ConkyBuildOptions.cmake
  cmake/config.h.in
  doc/config_settings.yaml
  src/common.cc
  src/conky.cc
  src/conky.h
  src/data/top.cc
  src/data/top.h
  src/output/display-x11.cc
  src/output/gui.h
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter, misc-linter

Clear process lists in info before free
  src/data/top.cc
Due: cpp-linter

Clear process lists in info before free (#2194)
  src/data/top.cc
Due: cpp-linter

Start implementing netlink
  cmake/ConkyPlatformChecks.cmake
  cmake/FindNL.cmake
  src/data/network/net_stat.h
  src/data/os/linux.cc
  src/main.cc
Due: cpp-linter

Add nl80211 header
  3rdparty/CMakeLists.txt
  3rdparty/linux/uapi/linux/nl80211.h
  src/data/os/linux.cc
Due: cpp-linter

Move new code to netlink-conky
  src/CMakeLists.txt
  src/data/os/linux.cc
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add CI dependencies and fix build issues
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  cmake/ConkyPlatformChecks.cmake
  cmake/FindNL.cmake
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

Improve API
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add genl dependency to CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

Copy iw info implementation
  3rdparty/CMakeLists.txt
  3rdparty/linux/linux/ieee80211.h
  3rdparty/linux/uapi/linux/nl80211.h
  cmake/ConkyPlatformChecks.cmake
  src/data/os/linux.cc
Due: cpp-linter

Add dependencies to Dockerfile
  Dockerfile
Due: none

Cleanup nested_attributes helper
  src/netlink-conky.cc
Due: cpp-linter

Get interface information to work
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add required nl80211 callbacks
  3rdparty/linux/uapi/linux/nl80211.h
  src/data/network/net_stat.cc
  src/data/network/net_stat.h
  src/data/os/darwin.mm
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add argument forwarding to nl_task
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Start implementing tasks
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Switch to promises for callback results
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Fix compile errors
  src/netlink-conky.cc
  src/output/display-x11.cc
Due: cpp-linter

Fix runtime errors
  src/data/os/linux.cc
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Move netlink files to network directory
  src/CMakeLists.txt
  src/data/network/netlink-conky.cc
  src/data/network/netlink-conky.h
  src/data/os/linux.cc
Due: cpp-linter

Use WithdrawnState only for Fluxbox
  src/conky.cc
  src/output/x11.cc
Due: cpp-linter

Use WithdrawnState only for Fluxbox (#2196)
  src/conky.cc
  src/output/x11.cc
Due: cpp-linter

Add check for XDG_SESSION_TYPE not being set
  src/conky.cc
Due: cpp-linter

Fix segfault due to use-after-free of wl_seat_listener
  src/output/display-wayland.cc
Due: cpp-linter

Fix segfault due to use-after-free of wl_seat_listener (#2198)
  src/output/display-wayland.cc
Due: cpp-linter

Add check for XDG_SESSION_TYPE not being set (#2197)
  src/conky.cc
Due: cpp-linter

Added a check to verify if the script path is absolute or not.
  src/lua/llua.cc
Due: cpp-linter

fix broken readme link
  README.md
Due: misc-linter

bump version
  cmake/Conky.cmake
Due: none

Fix detection of postmaretOs in /etc/os-release parsing
  src/data/os/linux.cc
Due: cpp-linter

Use NAME to directly read OS name
  src/data/os/linux.cc
Due: cpp-linter

Add fallback path for os-release
  doc/variables.yaml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

Fix edge cases
  src/data/os/linux.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
