Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

Update README.md to trigger CI
  README.md
Due: misc-linter

Provide a notice when build options get disabled
  .github/workflows/build-and-test-linux.yaml
  CMakeLists.txt
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/DependentOption.cmake
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/logging.h
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter, misc-linter

Fix CMake script
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  src/display-x11.cc
  src/x11.cc
Due: cpp-linter

Handle movement through XInput if enabled
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Simplify cursor checking
  doc/config_settings.yaml
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter, misc-linter

Cleanup focus handling code on propagation
  src/x11.cc
Due: cpp-linter

Fix DependentOptions splitting arguments on spaces
  cmake/ConkyBuildOptions.cmake
  cmake/DependentOption.cmake
  src/x11.cc
Due: cpp-linter

Hide Nvidia on non-linux OSs
  cmake/ConkyBuildOptions.cmake
Due: none

Fix issues building without BUILD_ARGB flag
  src/display-wayland.cc
  src/x11.cc
Due: cpp-linter

One more byte for error
  src/x11.cc
Due: cpp-linter

Namespace mouse-events.cc/.h
  .vscode/extensions.json
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/logging.h
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter, misc-linter

X11: Fix infinite loop from Expose events being returned
  src/display-x11.cc
Due: cpp-linter

Fix labeler v5
  .github/labeler.yml
Due: misc-linter

Add checkout step for labeler workflow
  .github/workflows/labeler.yml
Due: misc-linter

Label step
  .github/workflows/labeler.yml
Due: misc-linter

Fix labeler v5 (#1703)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: misc-linter

Show cached memory as in free (Linux only)
  doc/variables.yaml
  src/common.cc
  src/common.h
  src/conky.h
  src/core.cc
  src/linux.cc
Due: cpp-linter, misc-linter

Update config_settings.yaml
  doc/config_settings.yaml
Due: misc-linter

lua text: Supporting infra
  .github/workflows/build-and-test-linux.yaml
  AUTHORS
  Dockerfile
  appimage/build.sh
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  lua/CMakeLists.txt
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
  lua/text.pkg
  src/main.cc
Due: cpp-linter, misc-linter

Commit the WIP so I can merge it
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

lua text: initial implementation.
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

Fix for #1698
  src/display-x11.cc
Due: cpp-linter

Fix comment hb-unicode.h should be hb-common.h
  lua/libcairo_text_helper.h
Due: cpp-linter

Swap to using optional parameters
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

Add Hack for RTL positioning
  lua/libcairo_text_helper.h
Due: cpp-linter

Remove Top to Bottom Fixme's they are fixed
  lua/libcairo_text_helper.h
Due: cpp-linter

Some general cleanup post merge
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

Attempt to fix workflows by adding freetype dep
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Probably actually need freetype6
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Try again, I don't understand Ubuntu
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Try something from google
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Bump version
  cmake/Conky.cmake
Due: none

Fix update_interval handling from CLI args
  src/conky.cc
Due: cpp-linter

lua-text: Move to caching fonts in C
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

Revert "Fix for #1698"
  src/display-x11.cc
Due: cpp-linter

docs: tolua++ now works with more then lua5.1
  doc/lua.yaml
Due: misc-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
