Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

NetBSD: cmake: Refactor `-lintl` and `-lossaudio`.
  cmake/ConkyPlatformChecks.cmake
Due: none

NetBSD: cmake: Rework `ncurses`.
  cmake/ConkyPlatformChecks.cmake
Due: none

Haiku: Remove `wordexp.h`.
  src/common.cc
Due: cpp-linter

NetBSD: cmake: `ncurses` -> `curses`
  cmake/ConkyPlatformChecks.cmake
Due: none

Fix NetBSD build (#2089)
  cmake/Conky.cmake
  cmake/ConkyPlatformChecks.cmake
  src/common.cc
  src/conky.cc
  src/entropy.cc
  src/fs.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Due: cpp-linter

Haiku: Remove `HAIKU_HOME_DIR`.
  src/haiku.h
Due: cpp-linter

Remove macOS-12 build (deprecated)
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

OpenBSD: Fix CPU Usage.
  src/openbsd.cc
Due: cpp-linter

OpenBSD: Fill missing fields in `get_top_info()`.
  src/openbsd.cc
Due: cpp-linter

Implement `-U` for Haiku. (#2079)
  doc/man.md.j2
  src/common.cc
  src/conky.cc
  src/haiku.cc
  src/haiku.h
  src/main.cc
Due: cpp-linter

Bump minor version
  cmake/Conky.cmake
Due: none

Allow to override build date with SOURCE_DATE_EPOCH
  doc/render.py
Due: none

Allow custom man build date via SOURCE_DATE_EPOCH (#2096)
  doc/render.py
Due: none

linux: Fix possible long overflow
  src/linux.cc
Due: cpp-linter

linux: Support power_now in sysfs for get_battery_power_draw()
  src/linux.cc
Due: cpp-linter

NetBSD: Fix CPU Usage.
  src/CMakeLists.txt
  src/bsdcommon.cc
  src/bsdcommon.h
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Due: cpp-linter

NetBSD: Implement `update_total_processes()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Due: cpp-linter

NetBSD: Implement `update_running_processes()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Due: cpp-linter

NetBSD: Implement `get_top_info()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Due: cpp-linter

NetBSD: Cleanup.
  src/bsdcommon.cc
  src/netbsd.cc
Due: cpp-linter

NetBSD: Remove second `total_cpu_time` calculation.
  src/bsdcommon.cc
Due: cpp-linter

Fix out_to_wayland giving nothing
  src/display-wayland.cc
Due: cpp-linter

Remove priority
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-ncurses.cc
  src/display-output.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Use explicit output ordering (#2103)
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-ncurses.cc
  src/display-output.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Revert "Use private mapping from provided shm_pool buffer"
  src/display-wayland.cc
Due: cpp-linter

Revert "Use private mapping from provided shm_pool buffer" (#2104)
  src/display-wayland.cc
Due: cpp-linter

Fix bars & some elements using own_window_argb_value
  src/display-wayland.cc
Due: cpp-linter

Fix non-text content using own_window_argb_value (#2105)
  src/display-wayland.cc
Due: cpp-linter
