Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Implement `-U`.
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Due: cpp-linter

Use `ps` to check the running processes.
  src/main.cc
Due: cpp-linter

Hide U flag altogether if not on Linux
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Due: cpp-linter

Move `is_conky_already_running()` to src/linux.cc.
  src/linux.cc
  src/linux.h
  src/main.cc
Due: cpp-linter

Go back to `/proc`.
  src/main.cc
Due: cpp-linter

Fix name check.
  src/main.cc
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Add math.h include to Vc/scalar/math.h
  3rdparty/Vc/Vc/scalar/math.h
Due: cpp-linter

Implement `-U` for FreeBSD.
  doc/man.md.j2
  src/conky.cc
  src/freebsd.cc
  src/freebsd.h
  src/main.cc
Due: cpp-linter

Implement `-U` for Haiku.
  doc/man.md.j2
  src/common.cc
  src/conky.cc
  src/haiku.cc
  src/haiku.h
  src/main.cc
Due: cpp-linter

Fixing OpenBSD build.
  3rdparty/Vc/Vc/scalar/math.h
  cmake/Conky.cmake
  src/bsdapm.cc
  src/common.cc
  src/core.cc
  src/fs.cc
  src/openbsd.cc
  src/openbsd.h
Due: cpp-linter

Fix unclosed OBJ in core.cc
  src/core.cc
Due: cpp-linter

Revert explicit void argument changes
  src/openbsd.cc
Due: cpp-linter

Implement to_real_path in a cross-platform way
  src/common.cc
  src/common.h
Due: cpp-linter

Use weakly_canonical to handle non-existant paths
  src/common.cc
  tests/test-common.cc
Due: cpp-linter

Simplify to_real_path
  src/common.cc
Due: cpp-linter

Add OpenBSD CI
  .github/workflows/build-and-test-openbsd.yaml
Due: misc-linter

Revert "Add OpenBSD CI"
  .github/workflows/build-and-test-openbsd.yaml
Due: misc-linter

Fix architecture specific include
  src/bsdapm.cc
Due: cpp-linter

Fix bsdapm.cc
  src/bsdapm.cc
Due: cpp-linter

Remove clear_diskio_stats stub
  src/openbsd.cc
Due: cpp-linter

Use same i18n include/link logic for all platforms
  cmake/ConkyPlatformChecks.cmake
Due: none

Fix sndio linking
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/core.cc
  src/main.cc
  src/mixer.cc
Due: cpp-linter

Stub get_battery_short_status
  src/openbsd.cc
Due: cpp-linter

Cleanup and reduce diff
  cmake/ConkyPlatformChecks.cmake
  src/bsdapm.cc
  src/common.cc
  src/common.h
Due: cpp-linter

Fix X11 library references for lua modules
  cmake/ConkyPlatformChecks.cmake
Due: none

Fix pkg_check_modules usage
  cmake/ConkyPlatformChecks.cmake
Due: none

Remove -stdlib=libc++ on OpenBSD
  cmake/ConkyBuildOptions.cmake
Due: none

Revert `common.cc`.
  src/common.cc
Due: cpp-linter

Remove -lX11 patch
  cmake/ConkyPlatformChecks.cmake
Due: none

Doc: Implement feedback from #1501 for tables
  doc/lua.yaml
Due: misc-linter

lua-imlib2: fix memory leak
  lua/libcairo_imlib2_helper.h
Due: cpp-linter

lua-text: Another shot at fixing workflows
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

cmake: try and use find_package for freetype
  cmake/ConkyPlatformChecks.cmake
Due: none

Revert wordexp code and use previous code for OpenBSD only
  src/common.cc
  src/common.h
Due: cpp-linter

Fix OpenBSD build (#2080)
  3rdparty/Vc/Vc/scalar/math.h
  cmake/Conky.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/bsdapm.cc
  src/common.cc
  src/common.h
  src/core.cc
  src/fs.cc
  src/main.cc
  src/mixer.cc
  src/openbsd.cc
  src/openbsd.h
  tests/test-common.cc
Due: cpp-linter

Fix NetBSD build.
  cmake/Conky.cmake
  cmake/ConkyPlatformChecks.cmake
  src/common.cc
  src/conky.cc
  src/entropy.cc
  src/fs.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
