Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

Modify CI and Nix flake
  .github/workflows/build-and-test-macos.yaml
  flake.nix
  src/display-x11.cc
  src/main.cc
  src/x11.cc
Due: cpp-linter, misc-linter

Simplify cursor checking
  doc/config_settings.yaml
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter, misc-linter

Cleanup focus handling code on propagation
  src/x11.cc
Due: cpp-linter

Handle movement through XInput if enabled
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Fix CMake script
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  src/display-x11.cc
  src/x11.cc
Due: cpp-linter

Update README.md to trigger CI
  README.md
Due: misc-linter

Provide a notice when build options get disabled
  .github/workflows/build-and-test-linux.yaml
  CMakeLists.txt
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/DependentOption.cmake
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/logging.h
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter, misc-linter

Fix issues building without BUILD_ARGB flag
  src/display-wayland.cc
  src/x11.cc
Due: cpp-linter

Fix DependentOptions splitting arguments on spaces
  cmake/ConkyBuildOptions.cmake
  cmake/DependentOption.cmake
  src/x11.cc
Due: cpp-linter

Fix build & cleanup
  README.md
  cmake/ConkyBuildOptions.cmake
  doc/config_settings.yaml
  src/display-wayland.cc
  src/gui.cc
  src/gui.h
  src/main.cc
  src/x11.cc
Due: cpp-linter, misc-linter

Hide Nvidia on non-linux OSs
  cmake/ConkyBuildOptions.cmake
Due: none

Prevent infinite loop in DependentOption
  cmake/DependentOption.cmake
Due: none

Use core X11 events when Xinput is enabled
  src/display-x11.cc
  src/x11.cc
Due: cpp-linter

Namespace mouse-events.cc/.h
  .vscode/extensions.json
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/logging.h
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter, misc-linter

Run npm audit fix
  web/package-lock.json
Due: misc-linter

Drop graph/linechart from web header
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/LineChart.tsx
  web/components/Search.tsx
  web/package-lock.json
  web/package.json
  web/utils/search.ts
Due: web-linter, misc-linter

Improve speedgraph scale descriptions in docs
  doc/variables.yaml
Due: misc-linter

One more byte for error
  src/x11.cc
Due: cpp-linter

Prepare environment
  cmake/ConkyBuildOptions.cmake
  src/CMakeLists.txt
  src/main.cc
Due: cpp-linter

Include mouse-events.h in llua.cc
  src/llua.cc
Due: cpp-linter

Add Wayland event listeners for pointer
  src/conky.cc
  src/display-wayland.cc
Due: cpp-linter

Pass cursor move event to the script
  src/display-wayland.cc
  src/display-x11.cc
  src/llua.cc
  src/mouse-events.cc
  src/mouse-events.h
Due: cpp-linter

Improve Lua table data
  src/mouse-events.cc
Due: cpp-linter

Add support for all previously supported events
  src/display-wayland.cc
  src/mouse-events.cc
  src/mouse-events.h
Due: cpp-linter

Add deprecation error and fix stack management
  src/llua.cc
Due: cpp-linter

Cleanup includes
  src/display-wayland.cc
Due: cpp-linter

Cleanup display-x11 includes
  src/display-x11.cc
Due: cpp-linter

Fix lua stack pops in one of error branches
  src/conky.cc
  src/display-wayland.cc
  src/llua.cc
Due: cpp-linter

Fix X11 area enter & leave bug
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/display-x11.cc
  src/logging.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Fix X11 build
  3rdparty/toluapp/CMakeLists.txt
  cmake/ConkyPlatformChecks.cmake
  src/CMakeLists.txt
  src/display-wayland.cc
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
Due: cpp-linter

Remove duplicate BUILD_MOUSE_EVENTS includes (again)
  src/CMakeLists.txt
  src/display-wayland.cc
Due: cpp-linter

Remove uint to make MacOS happy
  src/mouse-events.cc
Due: cpp-linter

Debug X11 enter & leave events
  src/display-x11.cc
Due: cpp-linter

Use SFINAE to collapse numeric pust_table_value impls
  src/mouse-events.cc
Due: cpp-linter

Add <array> import
  doc/config_settings.yaml
  src/display-wayland.cc
  src/llua.cc
Due: cpp-linter, misc-linter

Tweaks
  src/display-wayland.cc
  src/display-x11.cc
  src/main.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
