Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Disable Vc_ENABLE_INSTALL by default
  3rdparty/Vc/CMakeLists.txt
Due: none

Refactor the CMake 3rdparty/Vc-related bits (#1903)
  3rdparty/CMakeLists.txt
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
Due: none

Remove _member_access from geometry.
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/gui.cc
  src/gui.h
  src/llua.cc
  src/mouse-events.cc
  src/x11.cc
Due: cpp-linter

Fix wayland build
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/x11.cc
Due: cpp-linter

Disable unknown-warning-option lint
  cmake/ConkyBuildOptions.cmake
Due: none

Fix "specified bound depends on the length of the source argument"
  src/template.cc
Due: cpp-linter

Revert CMake formatter changes
  cmake/ConkyBuildOptions.cmake
Due: none

Comment out Vc installation
  3rdparty/Vc/CMakeLists.txt
Due: none

Fix dockerhub login
  .github/workflows/docker.yaml
Due: misc-linter

Group all actions dependabot updates
  .github/dependabot.yml
Due: misc-linter

Remove _member_access from geometry (#1910)
  cmake/ConkyBuildOptions.cmake
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/gui.cc
  src/gui.h
  src/llua.cc
  src/mouse-events.cc
  src/template.cc
  src/x11.cc
Due: cpp-linter

Fix build with specific option combination.
  src/llua.h
  src/x11-settings.cc
  src/x11.cc
Due: cpp-linter

Fix build with specific option combination (#1918)
  src/llua.h
  src/x11-settings.cc
  src/x11.cc
Due: cpp-linter

Disable Xinput by default
  cmake/ConkyBuildOptions.cmake
Due: none

Update old constructors
  src/display-x11.cc
Due: cpp-linter

Disable Xinput by default (#1920)
  cmake/ConkyBuildOptions.cmake
  src/display-x11.cc
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Cleanup remaining dpi scaling of min & max width
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Fix build with specific option combination.
  src/x11-settings.cc
  src/x11.cc
Due: cpp-linter

Cleanup remaining dpi scaling of min & max width (#1926)
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Don't include the -pre in install dir path.
  CMakeLists.txt
  cmake/Conky.cmake
Due: none

Make dpi_scale match original behavior
  src/display-output.hh
Due: cpp-linter

Make dpi_scale match original behavior (#1936)
  src/display-output.hh
Due: cpp-linter

Don't test colour names without map
  tests/test-colours.cc
Due: cpp-linter

Fix typo in conky.cc
  src/conky.cc
Due: cpp-linter

Docker: don't login without creds
  .github/scripts/docker-build.bash
  .github/workflows/docker.yaml
Due: misc-linter

Revert changes from #1926 & #1877
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Replace strncat with strcat
  src/scroll.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
