Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,cpp}'
    misc-linter:
      run: |
        npx prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'

lua-text: Add docs.
  doc/lua.yaml
Due: misc-linter

Remove build date and associated vars
  cmake/Conky.cmake
  cmake/build.h.in
  doc/lua.yaml
  doc/variables.yaml
  src/build.h.in
  src/core.cc
  src/llua.cc
  src/main.cc
Due: cpp-linter, misc-linter

Update macos build images
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Bump web deps, nix flake
  flake.lock
  web/package-lock.json
  web/package.json
Due: misc-linter

Bump flake deps
  flake.lock
Due: none

Bump web deps, improve mdx handling
  web/package-lock.json
  web/package.json
  web/pages/documents/[slug].tsx
  web/utils/mdx-utils.ts
Due: web-linter, misc-linter

Do this less dirty
  web/pages/index.tsx
  web/utils/mdx-utils.ts
Due: web-linter

Remove that
  web/pages/_app.tsx
Due: web-linter

Add basic pulse audio source support
  doc/variables.yaml
  src/core.cc
  src/pulseaudio.cc
  src/pulseaudio.h
Due: cpp-linter, misc-linter

Format code using 'make clang-format'
  src/core.cc
  src/pulseaudio.cc
  src/top.cc
Due: cpp-linter

Fix bad new/delete usage
  src/x11.cc
Due: cpp-linter

Enable lua bindings in nix flake
  flake.nix
Due: none

Derp, fix these
  flake.nix
Due: none

Compile tolua++ output as C++
  cmake/ToLua.cmake
  lua/libcairo-helper.h
  lua/libcairo_imlib2_helper.h
  lua/librsvg-helper.h
Due: cpp-linter

Fix build for imlib2 <1.10.0
  lua/imlib2_old.pkg
Due: none

Stop walking window tree if we get zero
  src/x11.cc
Due: cpp-linter

Fix buffer overflow on X11 error bug
  src/display-x11.cc
  src/x11.cc
Due: cpp-linter

Fix C mangling for lua bindings
  3rdparty/toluapp/include/tolua++.h
  3rdparty/toluapp/src/bin/lua/package.lua
Due: cpp-linter

Add out_to_wayland to default config
  data/conky.conf
Due: none

Add wlr layer shell check
  src/display-wayland.cc
Due: cpp-linter

Use sonoma for arm macos
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Sort alphabetically
  data/conky.conf
Due: none
