Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Bump version
  cmake/Conky.cmake
Due: none

WIP: SDL display support
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/display-output.cc
  src/display-output.hh
  src/display-sdl.cc
  src/display-sdl.hh
  src/gui.cc
  src/gui.h
Due: cpp-linter

Fix invalid uniform vector init function
  src/geometry.h
Due: cpp-linter

Fix invalid uniform vector init function in geometry (#1987)
  src/geometry.h
Due: cpp-linter

Made downspeedgraph and upspeedgraph use same scaling
  src/common.cc
  src/core.cc
  src/diskio.cc
  src/exec.cc
  src/net_stat.cc
  src/nvidia.cc
  src/specials.cc
  src/specials.h
Due: cpp-linter

Made upspeedgraph and downspeed graph scale on a common axis
  tests/test-graph.cc
Due: cpp-linter

Fixed graph parsing error
  src/specials.cc
Due: cpp-linter

Fix for GCC 15 two-phase lookup
  src/geometry.h
Due: cpp-linter

Implemented Invert X Axis Flag Feature
  src/conky.cc
  src/specials.cc
  src/specials.h
Due: cpp-linter

Updated documentation
  doc/variables.yaml
Due: misc-linter

Implemented Invert Y Axis Flag Feature
  src/conky.cc
  src/specials.cc
  src/specials.h
Due: cpp-linter

Implemented graph value clamping
  doc/variables.yaml
  src/conky.cc
  src/specials.cc
  src/specials.h
Due: cpp-linter, misc-linter

Fixed Down and Up Speed graph scaling
  src/specials.cc
Due: cpp-linter

Implemented path resolution
  src/common.cc
  src/common.h
Due: cpp-linter

Update variables.yaml
  doc/variables.yaml
Due: misc-linter

Implemented graph value clamping (#2000)
  doc/variables.yaml
  src/conky.cc
  src/specials.cc
  src/specials.h
Due: cpp-linter, misc-linter

Update nvidia.cc
  src/nvidia.cc
Due: cpp-linter

fix for #208, clear the "set" flag on fs_stats entries periodically
  src/fs.cc
Due: cpp-linter

Fix logic bug in cache_nvidia_string_value_update() (#2022)
  src/nvidia.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
