Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

fix: replace magic buf size 256 with named constant LINUX_BUF_LEN
  src/data/os/linux.cc
Due: cpp-linter

fix: percent_print now respects use_spacer when pad_percents is unset
  src/conky.cc
Due: cpp-linter

fix(lua): support Lua 5.5 GC API changes
  src/lua/luamm.hh
Due: cpp-linter

fix: Fixed rendering of gradients in graphs
  src/conky.cc
Due: cpp-linter

fix: use XIScrollClassInfo for scroll direction and valuator indices (#2288)
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
Due: cpp-linter

perf: geometry-first fast reject for mouse events (closes #1886)
  src/output/display-x11.cc
Due: cpp-linter

fix: miscellaneous mouse event correctness issues (#2288)
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
  src/output/x11.cc
Due: cpp-linter

fix: keep window geometry position in sync via XTranslateCoordinates (#2288)
  src/output/display-x11.cc
Due: cpp-linter

docs: add mouse event example config (closes #2066)
  data/conky_mouse_events.conf
  data/mouse_events.lua
Due: none

refactor: remove legacy non-XInput2 mouse input fallback
  src/output/display-x11.cc
Due: cpp-linter

fix: use window-relative coordinates for move and scroll events (#2288)
  src/output/display-x11.cc
Due: cpp-linter

build: remove BUILD_XINPUT, always enable XInput2 with X11
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/main.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

fix: scroll valuator index aliasing and button 4-7 fallback (#2288)
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
Due: cpp-linter

fix: track WM frame, anchor-based resize, geometry sync (closes #2338)
  src/conky.cc
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

feat(wayland): expose cairo surface and window size to Lua
  doc/lua.yaml
  src/lua/llua.cc
  src/output/display-wayland.cc
  src/output/display-wayland.hh
  tests/test-display-wayland.cc
Due: cpp-linter, misc-linter

fix(wayland): register cairo_surface_t tolua usertype before llua_init returns
  src/lua/llua.cc
Due: cpp-linter

test(wayland): add registration guard for cairo_surface_t tolua usertype
  src/lua/llua.cc
  tests/test-display-wayland.cc
Due: cpp-linter

feat(lua): add conky_surface() and deprecate X11-specific Lua surface API
  cmake/ConkyPlatformChecks.cmake
  doc/config_settings.yaml
  doc/lua.yaml
  lua/.gitignore
  lua/CMakeLists.txt
  lua/cairo_xlib.pkg
  lua/libcairo_xlib.cc
  src/lua/llua.cc
  src/output/display-output.hh
  src/output/display-wayland.cc
  src/output/display-wayland.hh
  src/output/display-x11.cc
  src/output/display-x11.hh
Due: cpp-linter, misc-linter

fix(lua): expose window dimensions on Wayland and fix clear_text
  doc/lua.yaml
  src/conky.cc
  src/geometry.h
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-wayland.cc
  src/output/display-x11.cc
Due: cpp-linter, misc-linter

refactor: deprecate transparency settings in favor of `own_window_colour`
  src/lua/setting.cc
  src/lua/setting.hh
  src/output/gui.cc
Due: cpp-linter

fix: lift background color handling out of X11 code
  doc/config_settings.yaml
  src/lua/setting.cc
  src/output/display-wayland.cc
  src/output/gui.cc
  src/output/gui.h
  src/output/x11.cc
Due: cpp-linter, misc-linter

fix: ignore `own_window_argb_visual`, always check; fix opacity issues
  doc/config_settings.yaml
  src/lua/setting.cc
  src/output/display-x11.cc
  src/output/gui.cc
  src/output/gui.h
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter, misc-linter

build: remove BUILD_ARGB option
  cmake/ConkyBuildOptions.cmake
  cmake/config.h.in
  src/main.cc
  src/output/display-x11.cc
  src/output/gui.cc
  src/output/x11-color.cc
  src/output/x11.cc
Due: cpp-linter

fix: skip `try_set_argb_visual` when compositor not detected
  src/output/x11.cc
Due: cpp-linter

fix: update stale width and height values
  src/lua/llua.cc
Due: cpp-linter

fix(execp): hash-based caching for execp to persist scroll state (#2333)
  src/content/text_object.h
  src/data/exec.cc
Due: cpp-linter

refactor: unify exec* variants to use shared exec_data storage
  src/core.cc
  src/data/exec.cc
  src/data/exec.h
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
