Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Added a new 'memwithbuffersperc' variable to get the percentage of mem in use, including buffers and caches
  doc/variables.yaml
  src/common.cc
  src/common.h
  src/core.cc
Due: cpp-linter, misc-linter

Start implementing netlink
  cmake/ConkyPlatformChecks.cmake
  cmake/FindNL.cmake
  src/data/network/net_stat.h
  src/data/os/linux.cc
Due: cpp-linter

Add nl80211 header
  3rdparty/CMakeLists.txt
  3rdparty/linux/uapi/linux/nl80211.h
  src/data/os/linux.cc
Due: cpp-linter

Add CI dependencies and fix build issues
  .github/workflows/codeql.yml
  cmake/ConkyPlatformChecks.cmake
  cmake/FindNL.cmake
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

Copy iw info implementation
  3rdparty/CMakeLists.txt
  3rdparty/linux/linux/ieee80211.h
  3rdparty/linux/uapi/linux/nl80211.h
  cmake/ConkyPlatformChecks.cmake
  src/data/os/linux.cc
Due: cpp-linter

Move new code to netlink-conky
  src/CMakeLists.txt
  src/data/os/linux.cc
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add argument forwarding to nl_task
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add required nl80211 callbacks
  3rdparty/linux/uapi/linux/nl80211.h
  src/data/network/net_stat.cc
  src/data/network/net_stat.h
  src/data/os/darwin.mm
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Improve API
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Start implementing tasks
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add genl dependency to CI
  .github/workflows/codeql.yml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

Get interface information to work
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Add dependencies to Dockerfile
  Dockerfile
Due: none

Cleanup nested_attributes helper
  src/netlink-conky.cc
Due: cpp-linter

Fix runtime errors
  src/data/os/linux.cc
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Switch to promises for callback results
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Fix compile errors
  src/netlink-conky.cc
Due: cpp-linter

Replace wordexp with custom implementation on all platforms
  src/common.cc
  src/common.h
  src/conky.cc
Due: cpp-linter

Fix mock linking
  tests/CMakeLists.txt
  tests/mock/mock.hh
Due: cpp-linter

Add support for mocking to tests
  src/output/gui.h
  tests/CMakeLists.txt
  tests/mock/mock.cc
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-diskio.cc
  tests/test-x11-struts.cc
Due: cpp-linter

Properly handle predefined X11 atoms in mocking
  tests/mock/mock.hh
  tests/mock/x11.cc
Due: cpp-linter

Add X11 mocking utilities
  tests/CMakeLists.txt
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-struts.cc
Due: cpp-linter

Fix x11_change_property not properly copying data
  tests/CMakeLists.txt
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-struts.cc
Due: cpp-linter

refactor(parse): add text object registry with hash map dispatch
  src/CMakeLists.txt
  src/common.cc
  src/common.h
  src/core.cc
  src/core.h
  src/parse/variables.cc
  src/parse/variables.hh
  tests/CMakeLists.txt
  tests/test-common.cc
  tests/test_variable.hh
Due: cpp-linter

refactor(parse): migrate acpi, battery, proc, and control flow variables to registry
  src/common.cc
  src/common.h
  src/conky.h
  src/core.cc
  src/data/proc.cc
  src/macros.h
  src/parse/variables.cc
  src/parse/variables.hh
Due: cpp-linter

refactor(proc): modernize proc.cc and remove proc.h
  src/CMakeLists.txt
  src/common.h
  src/core.cc
  src/data/os/linux.cc
  src/data/os/linux.h
  src/data/proc.cc
  src/data/proc.h
  tests/test-linux-proc.cc
Due: cpp-linter

fix(proc): guard against empty /proc/PID/cmdline in print_cmdline_to_pid
  src/data/proc.cc
Due: cpp-linter

refactor(parse): migrate linux hardware variables and clean up headers
  src/CMakeLists.txt
  src/common.h
  src/conky.h
  src/core.cc
  src/core.h
  src/data/hardware/diskio.cc
  src/data/hardware/i8k.cc
  src/data/hardware/i8k.h
  src/data/hardware/ibm.cc
  src/data/hardware/ibm.h
  src/data/hardware/sony.cc
  src/data/hardware/sony.h
  src/data/os/linux.cc
  src/data/os/linux.h
  src/parse/variables.hh
Due: cpp-linter

refactor(entropy): centralize entropy declarations in entropy.h
  src/CMakeLists.txt
  src/data/entropy.cc
  src/data/entropy.h
  src/data/os/darwin.h
  src/data/os/darwin.mm
  src/data/os/dragonfly.h
  src/data/os/freebsd.h
  src/data/os/haiku.h
  src/data/os/linux.h
  src/data/os/netbsd.h
  src/data/os/openbsd.h
  src/data/os/solaris.cc
  src/data/os/solaris.h
  tests/test-darwin.cc
  tests/test-linux.cc
Due: cpp-linter

refactor(parse): migrate color, colorN, font, fontN to registry
  src/content/specials.cc
  src/core.cc
Due: cpp-linter

refactor(parse): migrate misc text variables and delete misc.h
  src/CMakeLists.txt
  src/common.cc
  src/core.cc
  src/data/misc.cc
  src/data/misc.h
Due: cpp-linter

refactor(parse): migrate all audio variables and modernize audio modules
  src/CMakeLists.txt
  src/conky.h
  src/core.cc
  src/data/audio/audacious.cc
  src/data/audio/audacious.h
  src/data/audio/cmus.cc
  src/data/audio/cmus.h
  src/data/audio/mixer.cc
  src/data/audio/mixer.h
  src/data/audio/moc.cc
  src/data/audio/moc.h
  src/data/audio/mpd.cc
  src/data/audio/mpd.h
  src/data/audio/pulseaudio.cc
  src/data/audio/pulseaudio.h
  src/data/audio/xmms2.cc
  src/data/audio/xmms2.h
  src/parse/variables.hh
Due: cpp-linter

refactor(parse): migrate top variables to registry
  src/common.cc
  src/core.cc
  src/data/top.cc
  src/data/top.h
Due: cpp-linter

fix(top): make is_process_running work without $top in config
  src/data/os/linux.cc
  src/data/top.cc
Due: cpp-linter

refactor(parse): migrate network variables to registry
  src/core.cc
  src/data/network/net_stat.cc
  src/data/network/net_stat.h
Due: cpp-linter

Move netlink files to network directory
  cmake/FindNL.cmake
  src/CMakeLists.txt
  src/data/network/netlink-conky.cc
  src/data/network/netlink-conky.h
  src/data/os/linux.cc
Due: cpp-linter

Added a new width argument to 'hr' and 'stippled_hr' variables
  doc/variables.yaml
  src/conky.cc
  src/content/specials.cc
  src/content/specials.h
  src/core.cc
Due: cpp-linter, misc-linter

chore: bump version to v1.24.0
  cmake/Conky.cmake
Due: none

chore: bump version to v1.24.0 (#2379)
  cmake/Conky.cmake
Due: none

build: add version bump PR automation
  .github/scripts/create-version-bump-pr.py
  mise.toml
Due: none

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
