Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

Require gperf at build-time
  cmake/Conky.cmake
  src/CMakeLists.txt
  src/colour-names-stub.hh
Due: cpp-linter

Docker: Add gperf, enable Lua Cairo Xlib bindings
  Dockerfile
Due: none

Fix conky-cairo_imlib2_helper dependency conditions
  cmake/ConkyBuildOptions.cmake
  lua/CMakeLists.txt
Due: none

Use _NET_VIRTUAL_ROOTS for querying virtual roots
  src/x11.cc
Due: cpp-linter

Fix conky-cairo_imlib2_helper dependency conditions (#1874)
  cmake/ConkyBuildOptions.cmake
  lua/CMakeLists.txt
Due: none

Use private mapping from provided shm_pool buffer
  src/display-wayland.cc
Due: cpp-linter

Use private mapping from provided shm_pool buffer (#1876)
  src/display-wayland.cc
Due: cpp-linter

Improve SIMD impl
  build.log
  cmake/ConkyBuildOptions.cmake
  cmake/config.h.in
  src/display-wayland.cc
  src/geometry.h
  src/simd.h
  tests/test-simd.cc
Due: cpp-linter

Undo CMake changes
  3rdparty/CMakeLists.txt
  CMakeLists.txt
  cmake/ConkyPlatformChecks.cmake
  lua/CMakeLists.txt
  src/CMakeLists.txt
Due: none

Remove build.log from source tree
  build.log
Due: none

Fix dpi scaling max_width
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Append script parent dir to lua package.path
  src/conky.cc
  src/conky.h
Due: cpp-linter

Fix issues with selection and rounding
  src/conky.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-wayland.hh
  src/display-x11.cc
  src/display-x11.hh
Due: cpp-linter

Fix workarea access
  src/display-wayland.cc
Due: cpp-linter

Fix display_output_x11::get_dpi_scale
  src/display-x11.cc
Due: cpp-linter

Remove dpi scaling of maximum width (#1877)
  src/conky.cc
  src/conky.h
  src/display-output.hh
  src/display-wayland.cc
  src/display-wayland.hh
  src/display-x11.cc
  src/display-x11.hh
Due: cpp-linter

Use _NET_VIRTUAL_ROOTS for querying virtual roots (#1875)
  src/x11.cc
Due: cpp-linter

Update xft_dpi on property change
  src/display-x11.cc
  src/gui.cc
  src/gui.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Update use of display size
  src/display-x11.cc
  src/gui.h
  src/x11.cc
Due: cpp-linter

Make DPI work when Xft is disabled
  src/display-x11.cc
Due: cpp-linter

Make find_subwindow more specific, rename it
  src/x11.cc
Due: cpp-linter

Add BUILD_COLOUR_NAME_MAP build flag
  cmake/Conky.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/colour-names-stub.hh
  src/colours.cc
Due: cpp-linter

Update nix flake w/ LLVM 18
  flake.lock
  flake.nix
Due: none

Use `MODULE` library type for Lua libs
  lua/CMakeLists.txt
Due: none

Update DPI when changed in resource manager (#1878)
  src/display-x11.cc
  src/gui.cc
  src/gui.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

CLI: -V now displays a short version string
  src/conky.cc
  src/main.cc
Due: cpp-linter

Make version string semver compliant, add git sha
  cmake/Conky.cmake
Due: none

Make sure the git command is run from the source dir
  cmake/Conky.cmake
Due: none

Fix AppImage version naming
  .github/workflows/publish-appimage.yml
Due: misc-linter

Ensure we use correct LLVM in nix dev shell
  flake.nix
Due: none

Change debug message level
  src/colour-names-stub.hh
Due: cpp-linter
