Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Moved wl protocol files to separate directory in src
  src/CMakeLists.txt
  src/wl_protocols/wlr-layer-shell-unstable-v1.xml
Due: none

Simplify adding new wayland protocols (#2110)
  src/CMakeLists.txt
  src/wl_protocols/wlr-layer-shell-unstable-v1.xml
Due: none

Add blame ignore file
  .git-blame-ignore-revs
  extras/git_ranked.py
Due: none

Add more ignored commits
  .git-blame-ignore-revs
Due: none

Use test globbing to find new tests
  tests/CMakeLists.txt
Due: none

Silence CodeCoverage.cmake warning
  cmake/CodeCoverage.cmake
Due: none

Update Catch2 to v3.7.1
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  tests/CMakeLists.txt
  tests/catch2/catch.hpp
  tests/catch2/catch_amalgamated.cpp
  tests/catch2/catch_amalgamated.hpp
  tests/test-common.cc
  tests/test-diskio.cc
Due: cpp-linter

Add --output-on-failure flag to CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Do print errors in some cases
  src/colours.cc
Due: cpp-linter

Move color parse message out of hex parser
  src/colours.cc
Due: cpp-linter

Simplify error handling code
  src/colours.cc
Due: cpp-linter

Reduce diff
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  src/colours.cc
Due: cpp-linter, misc-linter

Replace vararg function with template varargs
  src/colours.cc
Due: cpp-linter

Fix crash in tests caused by using CRIT_ERR
  src/colours.cc
Due: cpp-linter

Revert --output-on-failure in CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Fix cause of the double-free
  tests/test-common.cc
Due: cpp-linter

Move color parse error message out of hex parser (#1937)
  src/colours.cc
  tests/test-common.cc
Due: cpp-linter

Add blame ignore file (#2113)
  .git-blame-ignore-revs
  extras/git_ranked.py
Due: none

Update Catch2 from 2.13.9 to 3.7.1 (#2114)
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  cmake/CodeCoverage.cmake
  tests/CMakeLists.txt
  tests/catch2/catch.hpp
  tests/catch2/catch_amalgamated.cpp
  tests/catch2/catch_amalgamated.hpp
  tests/test-common.cc
  tests/test-diskio.cc
Due: cpp-linter, misc-linter

Add support for mocking to tests
  src/gui.h
  tests/CMakeLists.txt
  tests/mock/mock.cc
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-diskio.cc
  tests/test-x11-struts.cc
Due: cpp-linter

Properly handle predefined X11 atoms in mocking
  tests/mock/mock.hh
  tests/mock/x11.cc
Due: cpp-linter

Fix mock linking
  tests/CMakeLists.txt
  tests/mock/mock.hh
Due: cpp-linter

Add X11 mocking utilities
  tests/CMakeLists.txt
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-struts.cc
Due: cpp-linter

Fix x11_change_property not properly copying data
  src/x11.cc
  tests/CMakeLists.txt
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-struts.cc
Due: cpp-linter

Implement `-U` for NetBSD.
  doc/man.md.j2
  src/bsdcommon.cc
  src/bsdcommon.h
  src/conky.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Due: cpp-linter

Add display mocking
  src/conky.cc
  src/x11.cc
  tests/CMakeLists.txt
  tests/events.cc
  tests/mock/display-mock.cc
  tests/mock/display-mock.hh
  tests/mock/mock.cc
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/test-x11-struts.cc
Due: cpp-linter

Fix build and includes after moving sources (#2119)
  .git-blame-ignore-revs
Due: none

NetBSD: Fix meminfo.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Due: cpp-linter

bsdcommon: Fix typo.
  src/bsdcommon.cc
Due: cpp-linter

wayland: fix clean_text bug
  src/display-wayland.cc
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Update build.sh for switch to newer appimagetool
  appimage/build.sh
Due: none

Use new appimagetool for building AppImages (#2130)
  appimage/build.sh
Due: none

Add compiler cache
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/OptimizeForArchitecture.cmake
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
  cmake/CCache.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/UninstallConky.cmake.in
  cmake/clang-tidy.cmake
  flake.nix
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: misc-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
