Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,cpp}'
    misc-linter:
      run: |
        npx prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'

Label self :)
  .github/labeler.yml
Due: misc-linter

Remove imlib setting from x11-settings
  src/conky-imlib2.cc
  src/conky-imlib2.h
  src/conky.cc
  src/x11-settings.cc
Due: cpp-linter

Fix set_struts switch
  src/display-x11.cc
  src/gui.h
  src/x11.cc
Due: cpp-linter

Revert "Remove imlib setting from x11-settings"
  src/conky-imlib2.cc
  src/conky-imlib2.h
  src/conky.cc
  src/x11-settings.cc
Due: cpp-linter

Fix imlib_cache_size_setting::lua_setter
  src/conky-imlib2.cc
Due: cpp-linter

Separate cairo-xlib.h Lua bindings from cairo.h
  .gitignore
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  lua/.gitignore
  lua/CMakeLists.txt
  lua/cairo.pkg
  lua/cairo_xlib.pkg
Due: none

Update CI
  .github/workflows/build-and-test-linux.yaml
  cmake/ConkyPlatformChecks.cmake
Due: misc-linter

Change cairo-xlib output name
  lua/CMakeLists.txt
Due: none

Make graphics related bindings depend on BUILD_GUI
  cmake/ConkyBuildOptions.cmake
Due: none

Remove BUILD_GUI guard around options in platform checks
  cmake/ConkyPlatformChecks.cmake
Due: none

Track more context labels (#1842)
  .github/labeler.yml
Due: misc-linter

Fix imlib_cache_size_setting::lua_setter (#1843)
  src/conky-imlib2.cc
Due: cpp-linter

Separate cairo-xlib.h Lua bindings from cairo.h (#1844)
  .github/workflows/build-and-test-linux.yaml
  .gitignore
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  lua/.gitignore
  lua/CMakeLists.txt
  lua/cairo.pkg
  lua/cairo_xlib.pkg
Due: misc-linter

Revert color perfect hash name parsing
  src/colour-names.cc
  src/colour-names.gperf.in
  src/colours.cc
  src/colours.h
  src/x11-color.cc
  src/x11-color.h
Due: cpp-linter

Revert set_struts changes
  src/display-x11.cc
  src/gui.h
  src/llua.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Remove unneeded guards
  cmake/ConkyBuildOptions.cmake
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-ncurses.cc
  src/display-wayland.cc
  src/display-x11.cc
Due: cpp-linter

Remove X11 from unrelated headers
  src/CMakeLists.txt
  src/colours.cc
  src/conky.cc
  src/display-wayland.cc
  src/llua.cc
  src/llua.h
  src/nvidia.cc
  src/x11-color.cc
  src/x11-color.h
Due: cpp-linter

Reenabled parts of window_type which would work in Wayland
  src/gui.h
Due: cpp-linter

Fix matrix URL
  README.md
Due: misc-linter

Revert "Fix matrix URL"
  README.md
Due: misc-linter

Fix web components and pages (UI)
  web/components/Docs.tsx
  web/components/Doggy.tsx
  web/components/Footer.tsx
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/Search.tsx
  web/pages/404.tsx
  web/pages/config_settings.tsx
  web/pages/documents/[slug].tsx
  web/pages/lua.tsx
  web/pages/variables.tsx
Due: web-linter

Move dpi_scale to display-output.hh
  src/colours.cc
  src/colours.h
  src/conky-imlib2.cc
  src/conky-imlib2.h
  src/conky.cc
  src/conky.h
  src/core.cc
  src/display-http.hh
  src/display-ncurses.hh
  src/display-output.hh
  src/display-wayland.cc
  src/display-wayland.hh
  src/display-x11.cc
  src/display-x11.hh
  src/gui.cc
  src/text_object.h
  src/x11-settings.cc
Due: cpp-linter

Move saved_coordinates to imlib
  src/conky-imlib2.cc
  src/conky-imlib2.h
  src/conky.cc
  src/conky.h
Due: cpp-linter

Update docs
  doc/config_settings.yaml
Due: misc-linter

Use gperf to generate color name parsing from yml
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  .gitignore
  bin/format-colors.sh
  cmake/Conky.cmake
  data/color-names.yml
  flake.nix
  src/CMakeLists.txt
  src/colour-names.cc
  src/colours.cc
  src/colours.h
  src/x11-color.cc
  src/x11-color.h
Due: cpp-linter, misc-linter

Add -stub suffix to colour-names.cc
  src/CMakeLists.txt
  src/colour-names-stub.cc
  src/colours.cc
Due: cpp-linter

Enable raw_html for docs markdown
  doc/CMakeLists.txt
Due: none

Use perfect hash (gperf) for parsing color names (#1848)
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  .gitignore
  bin/format-colors.sh
  cmake/Conky.cmake
  data/color-names.yml
  doc/CMakeLists.txt
  flake.nix
  src/CMakeLists.txt
  src/colour-names-stub.cc
  src/colours.cc
  src/colours.h
  src/x11-color.cc
  src/x11-color.h
Due: cpp-linter, misc-linter

Simplify and speed up strut code
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Make corner panel favor horizontal strut sides
  src/x11.cc
Due: cpp-linter

set_struts improvements (#1849)
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Explicitly note updated time is UTC
  web/components/Footer.tsx
Due: web-linter

Link to latest commit in web footer
  web/components/Footer.tsx
  web/next.config.mjs
Due: web-linter
