Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,cpp}'
    misc-linter:
      run: |
        npx prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'

Handle external PropertyNotify events
  src/display-x11.cc
Due: cpp-linter

Skip propagation of non-input events
  src/display-x11.cc
  src/x11.cc
Due: cpp-linter

Fix render order in draw_stuff
  src/conky.cc
Due: cpp-linter

Fix propagation not working on openbox
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Use atoms for querrying windows by default
  src/x11.cc
  src/x11.h
Due: cpp-linter

Set event time to CurrentTime
  src/x11.cc
Due: cpp-linter

Fix render order in draw_stuff (#1801)
  src/conky.cc
Due: cpp-linter

Don't change input focus on propagation
  src/x11.cc
Due: cpp-linter

Update event coordinates in offset windows
  src/x11.cc
Due: cpp-linter

Move event handling into a separate function
  src/display-x11.cc
  src/display-x11.hh
Due: cpp-linter

Refactor event code
  src/display-x11.cc
  src/display-x11.hh
Due: cpp-linter

Fix event propagation on Openbox
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Add most missing XInput event code
  src/display-x11.cc
  src/setting.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Set propagate to True, to not propagate by default
  src/x11.cc
Due: cpp-linter

Always build app image (for status checks)
  .github/workflows/publish-appimage.yml
Due: misc-linter

Label dependency changes
  .github/labeler.yml
Due: misc-linter

Set propagate to True, to not propagate by default (#1809)
  src/x11.cc
Due: cpp-linter

Implement and test XInput event handling
  src/display-x11.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Implement initial XInput propagation
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Revert changes to setting.cc
  src/setting.cc
Due: cpp-linter

Fix missing y_abs argument copy
  src/mouse-events.h
Due: cpp-linter

Fix missing y_abs argument copy (#1813)
  src/mouse-events.h
Due: cpp-linter

Bump web deps
  web/netlify.toml
  web/package-lock.json
  web/package.json
Due: misc-linter

Add modified date to web docs
  web/components/Footer.tsx
  web/global.d.ts
  web/next.config.mjs
  web/tsconfig.json
Due: web-linter, misc-linter

Bump follow-redirects (and other things)
  web/package-lock.json
  web/package.json
Due: misc-linter

Sort
  web/package.json
Due: misc-linter

Improve documentation for window types and hints
  doc/config_settings.yaml
Due: misc-linter

Improve documentation for window types and hints (#1818)
  doc/config_settings.yaml
Due: misc-linter

Finish XInput -> basic X11 event conversion
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter

Fix propagation not working on openbox
  src/x11.cc
Due: cpp-linter

Use atoms for querrying windows by default
  src/x11.cc
Due: cpp-linter
