Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Ensure we use correct LLVM in nix dev shell
  flake.nix
Due: none

shared_ptr::unique() deprecated, use use_count()
  src/update-cb.cc
Due: cpp-linter

Docker: updated base image to Ubuntu 24.04 LTS
  Dockerfile
Due: none

Docker: re-enable PR builds
  .github/workflows/docker.yaml
Due: misc-linter

Docker: use 64bit time packages
  Dockerfile
Due: none

Bump minor version
  cmake/Conky.cmake
Due: none

Docker: improve tagging, distinguish `main` and `latest`
  .github/workflows/docker.yaml
Due: misc-linter

Fix this env var handling (derp)
  .github/workflows/docker.yaml
Due: misc-linter

Try to fix this quote handling again
  .github/workflows/docker.yaml
Due: misc-linter

Move docker build to separate script for less jank
  .github/scripts/docker-build.bash
  .github/workflows/docker.yaml
Due: misc-linter

Fix typo
  .github/scripts/docker-build.bash
Due: none

Setup std terminate handler
  src/conky.cc
  src/conky.h
  src/logging.h
  src/main.cc
  src/semaphore.hh
Due: cpp-linter

Improve logging facilities
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/ccurl_thread.cc
  src/common.cc
  src/conky.cc
  src/core.cc
  src/darwin.mm
  src/display-output.cc
  src/freebsd.cc
  src/logging.cc
  src/logging.h
  src/main.cc
Due: cpp-linter

Move log level to template arguments
  src/logging.h
Due: cpp-linter

Fix old nvidia log statement to fix CI
  src/nvidia.cc
Due: cpp-linter

Use errors for non-terminal errors.
  CMakeLists.txt
  lua/CMakeLists.txt
  src/CMakeLists.txt
  src/conky.cc
  src/logging.h
Due: cpp-linter

Remove logger from libcairo_imlib2_helper
  lua/CMakeLists.txt
  lua/libcairo_imlib2_helper.h
  src/CMakeLists.txt
  src/conky.cc
  src/logger.hh
  src/logging.cc
  src/logging.h
  src/main.cc
Due: cpp-linter

Fix errors & reduce diff
  CMakeLists.txt
  lua/CMakeLists.txt
  lua/libcairo_imlib2_helper.h
  src/CMakeLists.txt
  src/darwin.mm
  src/logger.hh
  src/logging.cc
  src/logging.h
  src/main.cc
Due: cpp-linter

Add --log-less option
  src/ccurl_thread.cc
  src/conky.cc
  src/logger.hh
  src/main.cc
Due: cpp-linter

Enable use of HTML in docs
  doc/CMakeLists.txt
  doc/config_settings.yaml
  web/package-lock.json
  web/package.json
  web/utils/doc-utils.ts
  web/utils/mdx-utils.ts
Due: web-linter, misc-linter

Switch to promises for callback results
  src/netlink-conky.cc
  src/netlink-conky.h
Due: cpp-linter

Fix wayland build issues
  src/display-wayland.cc
  src/geometry.h
Due: cpp-linter

Replace SFINAE with static assertions
  src/geometry.h
Due: cpp-linter

Enable use of HTML in docs (#1900)
  doc/CMakeLists.txt
  doc/config_settings.yaml
  web/package-lock.json
  web/package.json
  web/utils/doc-utils.ts
  web/utils/mdx-utils.ts
Due: web-linter, misc-linter

Update old logging statements to add details
  lua/libcairo_imlib2_helper.h
  src/algebra.cc
  src/apcupsd.cc
  src/ccurl_thread.cc
  src/ccurl_thread.h
  src/colours.cc
  src/common.cc
  src/conky-imlib2.cc
  src/conky.cc
  src/core.cc
  src/darwin.mm
  src/data-source.cc
  src/diskio.cc
  src/display-file.cc
  src/display-http.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/exec.cc
  src/fs.cc
  src/hddtemp.cc
  src/ical.cc
  src/logger.hh
  src/logging.h
  src/rss.cc
  src/setting.cc
  src/setting.hh
  src/smapi.cc
  src/solaris.cc
  src/specials.cc
  src/template.cc
  src/timeinfo.cc
  src/top.cc
  src/update-cb.cc
  src/user.cc
  src/x11-color.cc
  src/x11-settings.cc
  src/x11.cc
Due: cpp-linter

Refactor the CMake 3rdparty/Vc-related bits
  3rdparty/CMakeLists.txt
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
Due: none

Bump version
  cmake/Conky.cmake
Due: none

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
