Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,cpp}'
    misc-linter:
      run: |
        npx prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'

Fix xcb include path
  cmake/ConkyPlatformChecks.cmake
Due: none

Don't call FcFini()
  src/display-x11.cc
Due: cpp-linter

Refactor web search index
  web/.gitignore
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/Search.tsx
  web/package-lock.json
  web/package.json
  web/pages/404.tsx
  web/pages/config_settings.tsx
  web/pages/documents/[slug].tsx
  web/pages/index.tsx
  web/pages/lua.tsx
  web/pages/variables.tsx
  web/scripts/write-search-index.ts
  web/utils/search-serde.ts
  web/utils/search.ts
Due: web-linter, misc-linter

Run apt update first
  .github/workflows/codeql.yml
Due: misc-linter

Bump version
  cmake/Conky.cmake
Due: none

Enable wayland in appimage build
  appimage/build.sh
Due: none

Add missing deps
  .github/workflows/publish-appimage.yml
Due: misc-linter

Build AppImage separately per OS
  .github/workflows/publish-appimage.yml
Due: misc-linter

Build appimage on PRs
  .github/workflows/publish-appimage.yml
Due: misc-linter

Only sign appimage if the signing key is available
  .github/workflows/publish-appimage.yml
  appimage/build.sh
Due: misc-linter

Typo
  .github/workflows/publish-appimage.yml
Due: misc-linter

Fix clang versions
  .github/workflows/publish-appimage.yml
Due: misc-linter

Include arch in appimage name
  .github/workflows/publish-appimage.yml
Due: misc-linter

`jobs.<job_id>.strategy.fail-fast = false`
  .github/workflows/publish-appimage.yml
Due: misc-linter

Check librsvg version before enabling
  appimage/build.sh
Due: none

Missed `.sha256` extension
  .github/workflows/publish-appimage.yml
Due: misc-linter

Make sure correct libc++ is installed
  .github/workflows/publish-appimage.yml
Due: misc-linter

Ubuntu 20.04 clang+library-versions typo
  .github/workflows/publish-appimage.yml
Due: misc-linter

Refactor this
  .github/workflows/publish-appimage.yml
Due: misc-linter

D'oh! We need tags to `git describe`
  .github/workflows/publish-appimage.yml
Due: misc-linter

Underp this derp
  .github/workflows/publish-appimage.yml
Due: misc-linter

Try harder to ignore duplicate `conky.1.gz`s
  .github/workflows/publish-appimage.yml
Due: misc-linter

Allow visibility in `>> $GITHUB_ENV`s
  .github/workflows/publish-appimage.yml
Due: misc-linter

Download in `pwd`, not in `artifacts/`
  .github/workflows/publish-appimage.yml
Due: misc-linter

`git describe --tags --always --debug`??
  .github/workflows/publish-appimage.yml
Due: misc-linter

`actions/checkout@v4`: with: `fetch-depth: 0`
  .github/workflows/publish-appimage.yml
Due: misc-linter
