Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Check if graph first_colour is set before using it as foreground color (#2153)
  src/conky.cc
Due: cpp-linter

Use semicolon as file path separator for lua_load
  doc/config_settings.yaml
  src/lua/llua.cc
Due: cpp-linter, misc-linter

Resolve lua path in lua_load
  src/common.cc
  src/conky.cc
  src/lua/llua.cc
  src/lua/llua.h
Due: cpp-linter

Fix build
  src/lua/llua.cc
Due: cpp-linter

Switch Nix installer & cache for CI
  .github/workflows/nix.yaml
Due: misc-linter

CI: sccache cache keys can be simpler
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Ubuntu 20.04 deprecated
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/publish-appimage.yml
Due: misc-linter

derp
  .github/workflows/build-and-test-linux.yaml
Due: misc-linter

Ubuntu 20.04 deprecated (#2163)
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/publish-appimage.yml
Due: misc-linter

OpenBSD: Reimplement using bsdcommon.
  src/CMakeLists.txt
  src/data/os/bsdcommon.cc
  src/data/os/bsdcommon.h
  src/data/os/openbsd.cc
  src/data/os/openbsd.h
Due: cpp-linter

Implement `-U` for OpenBSD.
  doc/man.md.j2
  src/conky.cc
  src/data/os/openbsd.cc
  src/data/os/openbsd.h
  src/main.cc
Due: cpp-linter

Escape space instead of quoting path
  src/common.cc
Due: cpp-linter

Use semicolon as file path separator for lua_load (#2154)
  doc/config_settings.yaml
  src/common.cc
  src/conky.cc
  src/lua/llua.cc
  src/lua/llua.h
Due: cpp-linter, misc-linter

Replace wordexp with custom implementation on all platforms
  src/common.cc
  src/common.h
  src/conky.cc
Due: cpp-linter

Added multi pointer support
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

Changes as requested by Caellian https://github.com/brndnmtthws/conky/pull/2168#pullrequestreview-2647492578
  src/mouse-events.cc
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

Added multi pointer support (#2168)
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

Add #include <cstdint> to fix building with gcc 15
  src/content/colours.hh
Due: cpp-linter

Add #include <cstdint> to fix building with gcc 15 (#2174)
  src/content/colours.hh
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Add enhancements to release notes
  .github/release.yml
Due: misc-linter

Docker: actually build the tagged releases
  .github/workflows/docker.yaml
Due: misc-linter

Install generated syntax files
  extras/CMakeLists.txt
Due: none

Remove redundant if in CMake
  doc/CMakeLists.txt
Due: none

doc: Fix mismatched backticks
  doc/config_settings.yaml
  doc/variables.yaml
Due: misc-linter

Add WM/DE specific strut handling
  cmake/ConkyBuildOptions.cmake
  cmake/config.h.in
  src/conky.cc
  src/conky.h
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
Due: cpp-linter

Ignore alignment and compute ideal strut placement
  src/output/x11.cc
Due: cpp-linter

Cleanup
  src/conky.h
Due: cpp-linter

Revert alignment based position for WMs that support it well
  doc/config_settings.yaml
  src/conky.h
  src/output/x11.cc
Due: cpp-linter, misc-linter

Add fallback cinnamon detection
  src/conky.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
