Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

X11: keep window alive during SIGUSR1 reload (no flash)
  src/conky.cc
  src/conky.h
  src/output/display-x11.cc
  src/output/x11.cc
Due: cpp-linter

fix(lua/rsvg): fix RSVG Lua bindings: set/get typo, GError leak, GType crash, add positioning helper
  lua/CMakeLists.txt
  lua/librsvg-helper.h
  lua/rsvg.pkg
Due: cpp-linter

build: remove BUILD_HSV_GRADIENT, BUILD_LIBXML2 and BUILD_MIXER_ALSA
  cmake/config.h.in
  src/main.cc
Due: cpp-linter

fix(text): honor use_spacer for cpu/percentage values (#2078)
  doc/config_settings.yaml
  src/conky.cc
Due: cpp-linter, misc-linter

chore: relax mise config
  mise.toml
Due: none

chore: fix perms
  .github/scripts/detect-ci-jobs.py
Due: none

chore: bump mise deps
  mise.lock
  mise.toml
Due: none

chore: relax mise config (#2453)
  .github/scripts/detect-ci-jobs.py
  mise.lock
  mise.toml
Due: none

build: remove BUILD_HSV_GRADIENT, BUILD_LIBXML2 and BUILD_MIXER_ALSA (#2440)
  cmake/config.h.in
  src/main.cc
Due: cpp-linter

fix: wayland: guard shm surfaces against invalid buffer dimensions (#2431) (#2434)
  src/output/display-wayland.cc
Due: cpp-linter

feat: add own_window_namespace config setting for wlr-layer-shell (#2435)
  doc/config_settings.yaml
  src/output/display-wayland.cc
  src/output/gui.cc
  src/output/gui.h
Due: cpp-linter, misc-linter

fix(text): honor use_spacer for cpu/percentage values (#2078) (#2444)
  doc/config_settings.yaml
  src/conky.cc
Due: cpp-linter, misc-linter

hwmon/i2c/platform: properly handle power entries (#2445)
  doc/variables.yaml
  src/data/os/linux.cc
Due: cpp-linter, misc-linter

docs: document #AARRGGBB 8-digit form for own_window_color (closes #2449 follow-up)
  doc/config_settings.yaml
Due: misc-linter

fix(x11): skip XI2 button grab on desktop windows without mouse hook (fixes #2451)
  src/output/x11.cc
Due: cpp-linter

fix(wayland): fall back to ftruncate when posix_fallocate unsupported (fixes #2430)
  src/output/display-wayland.cc
Due: cpp-linter

docs: document #AARRGGBB 8-digit form for own_window_color (closes #2449 follow-up) (#2456)
  doc/config_settings.yaml
Due: misc-linter

fix(x11): skip XI2 button grab on desktop windows without mouse hook (fixes #2451) (#2454)
  src/output/x11.cc
Due: cpp-linter

fix(wayland): fall back to ftruncate when posix_fallocate unsupported (fixes #2430) (#2455)
  src/output/display-wayland.cc
Due: cpp-linter

Add files via upload
  CMakeLists.txt
Due: none

Add configuration options for utmp and systemd
  cmake/config.h.in
Due: none

Implement user session tracking checks for Linux
  cmake/ConkyPlatformChecks.cmake
Due: none

Add SYSTEMD_LOGIN_INCLUDE_DIRS to CMakeLists
  src/CMakeLists.txt
Due: none

Refactor user session handling and improve logging
  src/data/users.cc
Due: cpp-linter

fix: free zero-count logind session array in collect_logind_sessions
  src/data/users.cc
Due: cpp-linter

Fix utmp issue 2252 (#2425)
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/data/users.cc
Due: cpp-linter

chore: bump version to v1.25.0
  cmake/Version.cmake
Due: none

chore: bump version to v1.25.1
  cmake/Version.cmake
Due: none

fix: make O_CLOEXEC fallback order-proof in c++wrap.hh (#2458)
  src/c++wrap.hh
Due: cpp-linter

fix: make O_CLOEXEC fallback order-proof in c++wrap.hh (#2458) (#2459)
  src/c++wrap.hh
Due: cpp-linter

fix: crash on startup when generating text before first draw (#2460)
  src/content/specials.cc
  src/lua/fonts.cc
  src/system-details.cc
Due: cpp-linter

fix: crash on startup when generating text before first draw (#2460) (#2461)
  src/content/specials.cc
  src/lua/fonts.cc
  src/system-details.cc
Due: cpp-linter

chore: bump version to v1.25.2
  cmake/Version.cmake
Due: none

feat: implement llua_http_response_hook (#2395)
  src/lua/llua.cc
Due: cpp-linter

chore: add lua_http_response_hook setting, declaration, and pseudocode (#2395)
  src/lua/llua.cc
  src/lua/llua.h
Due: cpp-linter

chore: add TODO markers for http_response Lua hook (#2395)
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  src/output/display-http.hh
Due: cpp-linter

feat: add http_response struct for customizable HTTP responses (#2395)
  src/output/display-http.hh
Due: cpp-linter

style: fix warning wording, clarify double-pop, run clang-format (#2395)
  src/lua/llua.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
