Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,cpp}'
    misc-linter:
      run: |
        npx prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'

Update event coordinates in offset windows
  src/x11.cc
Due: cpp-linter

Close distance to dev/better-event-passing
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Replace EV_HANDLER macro with templates
  src/display-x11.cc
Due: cpp-linter

Add missing CONFIGURE hook call
  src/display-x11.cc
Due: cpp-linter

Refactor x11 event handling (#1819)
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Refactor x11 event handling (#1819)
  src/display-x11.cc
Due: cpp-linter

Add XInput event handling
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Improve ergonomics of the pointer API
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter

Simplify use of XInput related classes
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter

Issue template: Link docs to obtain stack traces
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: misc-linter

Fix cursor_over_conky and override atoms
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Fix valuator_info not being updated
  src/mouse-events.cc
Due: cpp-linter

Fill cache at startup
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter

Fix crash when device disconnected
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter

Cleanup
  src/display-x11.cc
  src/mouse-events.cc
  src/x11.cc
  src/x11.h
Due: cpp-linter

Exclusive XInput event handling (#1821)
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

Separate feature/bug/deps release labels
  .github/release.yml
Due: misc-linter

Fix release artifact path
  .github/workflows/publish-appimage.yml
Due: misc-linter

Rename release artifacts
  .github/workflows/publish-appimage.yml
Due: misc-linter

Name not optional
  .github/workflows/publish-appimage.yml
Due: misc-linter

Create missing atom for query
  README.md
  src/conky.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter, misc-linter

Create missing atom for query (#1834)
  README.md
  src/conky.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Due: cpp-linter, misc-linter

Annoyingly, the artifacts go into a subdir
  .github/workflows/publish-appimage.yml
Due: misc-linter

Always run Nix & AppImage builds on PRs
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Disable mouse tracking if BUILD_MOUSE_EVENTS=off
  3rdparty/toluapp/.gitignore
  src/colours.h
  src/x11.cc
Due: cpp-linter

Fix tests
  src/colours.cc
Due: cpp-linter

Track more context labels
  .github/labeler.yml
Due: misc-linter
