Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    web-linter:
      run: |
        npx -y eslint --fix {staged_files} \
          && git add {staged_files}
      root: web/
      glob: '*.{ts,tsx,js,jsx}'
    cpp-linter:
      run: |
        clang-format -i {staged_files} \
          && git add {staged_files}
      glob: '*.{c,cc,cxx,h,hh,cpp}'
    misc-linter:
      run: |
        npx -y prettier --write {staged_files} \
          && git add {staged_files}
      glob: '*.{md,json,yml,yaml}'
    nix-linter:
      run: |
        alejandra -q {staged_files} \
          && git add {staged_files}
      glob: '*.{nix}'

requirements-dev.txt update
  requirements-dev.txt
Due: none

requirements-dev.txt update 2
  requirements-dev.txt
Due: none

docker scripts update
  requirements-dev.txt
  tests/dockerfiles/Dockerfile.alpine-base
  tests/dockerfiles/Dockerfile.archlinux-base
  tests/dockerfiles/Dockerfile.fedora-31-base
  tests/dockerfiles/Dockerfile.fedora-32-base
  tests/dockerfiles/Dockerfile.fedora-33-base
  tests/dockerfiles/Dockerfile.fedora-33-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-base
  tests/dockerfiles/Dockerfile.ubuntu-clang-10
  tests/dockerfiles/Dockerfile.ubuntu-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-clang-9
  tests/dockerfiles/Dockerfile.ubuntu-gcc-10
Due: none

docker scripts update 2
  tests/dockerfiles/Dockerfile.ubuntu-gcc-10
  tests/dockerfiles/Dockerfile.ubuntu-gcc-7
  tests/dockerfiles/Dockerfile.ubuntu-gcc-8
  tests/dockerfiles/Dockerfile.ubuntu-gcc-9
Due: none

Revert "docker scripts update 2"
  tests/dockerfiles/Dockerfile.ubuntu-gcc-10
  tests/dockerfiles/Dockerfile.ubuntu-gcc-7
  tests/dockerfiles/Dockerfile.ubuntu-gcc-8
  tests/dockerfiles/Dockerfile.ubuntu-gcc-9
Due: none

Revert "docker scripts update"
  requirements-dev.txt
  tests/dockerfiles/Dockerfile.alpine-base
  tests/dockerfiles/Dockerfile.archlinux-base
  tests/dockerfiles/Dockerfile.fedora-31-base
  tests/dockerfiles/Dockerfile.fedora-32-base
  tests/dockerfiles/Dockerfile.fedora-33-base
  tests/dockerfiles/Dockerfile.fedora-33-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-base
  tests/dockerfiles/Dockerfile.ubuntu-clang-10
  tests/dockerfiles/Dockerfile.ubuntu-clang-11
  tests/dockerfiles/Dockerfile.ubuntu-clang-9
  tests/dockerfiles/Dockerfile.ubuntu-gcc-10
Due: none

Revert "requirements-dev.txt update 2"
  requirements-dev.txt
Due: none

Revert "requirements-dev.txt update"
  requirements-dev.txt
Due: none

docker scripts workflows update
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Due: misc-linter

cmake update for testting
  CMakeLists.txt
  Dockerfile
  requirements-dev.txt
  src/CMakeLists.txt
Due: none

oh it is python req
  requirements-dev.txt
Due: none

macos libgit2 add
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

try to fix nix
  flake.nix
Due: none

Major changes - xml repo config - git submodules support (i fuck that make) - build optionts add - code style change - not full pull - pulling one dir or file - another small fixes
  CMakeLists.txt
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/conky.cc
  src/main.cc
  src/themespresetmanager.cpp
  src/themespresetmanager.h
Due: cpp-linter

file names (theme-presets-manager module) changed
  src/CMakeLists.txt
  src/conky.cc
  src/main.cc
  src/theme-presets-manager.cc
  src/theme-presets-manager.hh
Due: cpp-linter

blank spaces remove
  CMakeLists.txt
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/main.cc
  src/theme-presets-manager.cc
Due: cpp-linter

blank commit for restart test (nix macos failed?)
  src/theme-presets-manager.hh
Due: cpp-linter

Revert "blank commit for restart test (nix macos failed?)"
  src/theme-presets-manager.hh
Due: cpp-linter

Revert "blank spaces remove"
  CMakeLists.txt
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/main.cc
  src/theme-presets-manager.cc
Due: cpp-linter

Fixed typo inside the hwmon parse error message
  src/core.cc
Due: cpp-linter

Added sysfs bar support: i2cbar, platformbar and hwmonbar
  src/core.cc
  src/data/os/linux.cc
  src/data/os/linux.h
Due: cpp-linter

Adjusted variables documentation to reflect the new sysfs bar variables
  doc/variables.yaml
Due: misc-linter

Fix lvalue member reference in geometry
  3rdparty/Vc/CMakeLists.txt
  src/geometry.h
Due: cpp-linter

chore: only run CI for macos-latest
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Fix mouse button events for owned windows with XInput2; Fixes #2047
  src/output/x11.cc
Due: cpp-linter

fix(proc): harden /proc helpers and add tests
  src/data/proc.cc
  tests/test-linux-proc.cc
Due: cpp-linter

fix: ignore non-pid entries in cmdline_to_pid
  src/data/proc.cc
Due: cpp-linter

fix(proc): harden /proc helpers
  src/data/proc.cc
  tests/test-linux-proc.cc
Due: cpp-linter

fix: parse proc stat without suppressed length modifiers
  src/data/proc.cc
Due: cpp-linter

test(proc): stabilize pid_environ lookup
  tests/test-linux-proc.cc
Due: cpp-linter

test(proc): tolerate vmrss drift
  tests/test-linux-proc.cc
Due: cpp-linter

test(proc): freeze child for vm status
  tests/test-linux-proc.cc
Due: cpp-linter
