Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

build: add version bump PR automation (#2380)
  .github/scripts/create-version-bump-pr.py
  mise.toml
Due: none

fix: avoid hr cleanup regressions
  src/content/specials.cc
  src/content/specials.h
  src/core.cc
Due: cpp-linter

fix: wayland double-buffer management and release listener
  src/output/display-wayland.cc
Due: cpp-linter

Added a new width argument to 'hr' and 'stippled_hr' variables (#2315)
  doc/variables.yaml
  src/conky.cc
  src/content/specials.cc
  src/content/specials.h
  src/core.cc
Due: cpp-linter, misc-linter

chore: ignore .codex
  .gitignore
Due: none

chore: ignore .codex (#2383)
  .gitignore
Due: none

chore: bump version to v1.24.1
  cmake/Conky.cmake
Due: none

chore: bump version to v1.24.1 (#2384)
  cmake/Conky.cmake
Due: none

fix(x11): preserve root button propagation
  src/output/display-x11.cc
Due: cpp-linter

fix(x11): tighten root button event detection
  src/output/display-x11.cc
Due: cpp-linter

fix(x11): limit root event replay to context menus
  src/output/display-x11.cc
Due: cpp-linter

fix(x11): apply off-conky replay policy consistently
  src/output/display-x11.cc
Due: cpp-linter

fix: harden apcupsd NIS response parsing
  src/data/hardware/apcupsd.cc
Due: cpp-linter

chore: apply clang-format
  src/conky.cc
  src/output/display-x11.cc
Due: cpp-linter

chore: bump version to v1.24.2
  cmake/Conky.cmake
Due: none

chore: bump version to v1.24.3
  cmake/Conky.cmake
Due: none

fix: merge xftalpha and textalpha into a single setting
  doc/config_settings.yaml
  src/lua/setting.cc
  src/lua/setting.hh
  src/output/display-wayland.cc
  src/output/display-x11.cc
  src/output/gui.cc
  src/output/gui.h
Due: cpp-linter, misc-linter

refactor: fix invalid CPU number warning for optional argument
  src/common.cc
  src/common.h
  src/core.cc
Due: cpp-linter

feat: document deprecated/removed settings
  doc/README.md
  doc/config_settings.yaml
  doc/man.md.j2
  doc/render.py
  doc/variables.yaml
  web/bun.lock
  web/components/Docs.tsx
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/Search.module.css
  web/components/Search.tsx
  web/package.json
  web/pages/config_settings.tsx
  web/pages/index.tsx
  web/pages/lua.tsx
  web/pages/variables.tsx
  web/utils/doc-utils.ts
  web/utils/search.ts
Due: web-linter, misc-linter

refactor: pull system details out of conky.cc/h
  src/CMakeLists.txt
  src/conky.cc
  src/conky.h
  src/main.cc
  src/system-details.cc
  src/system-details.hh
Due: cpp-linter

fix: reorder parsing after initialization
  src/conky.cc
Due: cpp-linter

feat: merge out_to_* into a single setting
  cmake/config.h.in
  src/CMakeLists.txt
  src/conky.cc
  src/content/specials.cc
  src/core.cc
  src/lua/fonts.cc
  src/lua/llua.cc
  src/lua/setting.cc
  src/lua/setting.hh
  src/lua/x11-settings.h
  src/output/display-console.cc
  src/output/display-console.hh
  src/output/display-file.cc
  src/output/display-file.hh
  src/output/display-http.cc
  src/output/display-http.hh
  src/output/display-ncurses.cc
  src/output/display-ncurses.hh
  src/output/display-output.cc
  src/output/display-output.hh
  src/output/display-wayland.cc
  src/output/display-wayland.hh
  src/output/display-x11.cc
  src/output/display-x11.hh
  src/output/gui.cc
  src/output/gui.h
  src/output/output-setting.cc
  src/output/output-setting.hh
  src/output/wl.cc
  src/output/wl.h
  src/output/x11.cc
Due: cpp-linter

clean(text): remove stock variable as Yahoo API was shut down
  doc/variables.yaml
  src/common.cc
  src/common.h
  src/core.cc
Due: cpp-linter, misc-linter

feat(web): improve readability
  web/components/Docs.module.css
  web/components/Docs.tsx
  web/components/Header.tsx
  web/components/Search.module.css
  web/components/Search.tsx
  web/pages/_document.tsx
  web/styles/globals.css
  web/utils/tailwind-preset.js
Due: web-linter

feat(web): replace Fuse.js docs search with MiniSearch
  web/.gitignore
  web/bun.lock
  web/components/Docs.tsx
  web/components/Search.tsx
  web/package.json
  web/styles/globals.css
  web/utils/doc-utils.ts
  web/utils/search-config.ts
  web/utils/search-serde.ts
  web/utils/search.ts
Due: web-linter, misc-linter

fix(build): make LIB_INSTALL_DIR always absolute and _REL relative
  cmake/ConkyBuildOptions.cmake
  lua/CMakeLists.txt
  src/CMakeLists.txt
Due: none

clean: remove unused imports and format
  src/lua/colour-settings.hh
  src/lua/fonts.cc
  src/lua/llua.cc
  src/output/display-console.cc
  src/output/display-console.hh
  src/output/display-file.cc
  src/output/display-http.cc
  src/output/display-ncurses.cc
  src/output/display-ncurses.hh
  src/output/display-wayland.hh
  src/output/display-x11.cc
  src/output/gui.cc
  src/output/x11.cc
Due: cpp-linter

chore: add TODO markers for http_response Lua hook (#2395)
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  src/output/display-http.hh
Due: cpp-linter

feat: add http_response struct for customizable HTTP responses (#2395)
  src/output/display-http.hh
Due: cpp-linter

chore: add lua_http_response_hook setting, declaration, and pseudocode (#2395)
  src/lua/llua.cc
  src/lua/llua.h
Due: cpp-linter

chore: trim TODOs down to short notes (#2395)
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  src/output/display-http.hh
Due: cpp-linter

feat: implement llua_http_response_hook (#2395)
  src/lua/llua.cc
Due: cpp-linter

style: fix warning wording, clarify double-pop, run clang-format (#2395)
  src/lua/llua.cc
Due: cpp-linter

feat: wire llua_http_response_hook into sendanswer() (#2395)
  src/output/display-http.cc
Due: cpp-linter

Add systemd support for user tracking
  CMakeLists.txt
Due: none

Refactor user functions for systemd compatibility
  src/data/users.cc
Due: cpp-linter

test: add coverage for llua_http_response_hook (#2395)
  src/lua/llua.cc
  tests/test-http.cc
Due: cpp-linter

docs: document lua_http_response_hook (#2395)
  doc/config_settings.yaml
Due: misc-linter

style: fix warning wording and clarify double-pop
  tests/test-http.cc
Due: cpp-linter

refactor: return std::optional<http_response> from the hook (#2395)
  src/lua/llua.cc
  src/lua/llua.h
  src/output/display-http.cc
  tests/test-http.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
