Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter

web-linter:
  run: "npx eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx prettier --write {staged_files} \\\n  && git add {staged_files}\n"

gradients: fix saturation/luma calculations for 32-bit systems (#1470)
  src/gradient.cc
Due: cpp-linter

feat: Move docs to website, rearrange bits
  CMakeLists.txt
  LICENSE
  LICENSE.md
  README.docker
  README.md
  TODO.md
  data/CMakeLists.txt
  data/conky.desktop
  data/logo/conky-logomark-violet.png
  data/logo/conky-logomark-violet.svg
  data/logo/conky-logotype-horizontal-violet.png
  data/logo/conky-logotype-horizontal-violet.svg
  data/logo/conky-logotype-vertical-violet.png
  data/logo/conky-logotype-vertical-violet.svg
  web/documents/about.mdx
  web/documents/compiling.mdx
  web/documents/contributing.mdx
  web/documents/docker.mdx
  web/documents/syntax-highlighting.mdx
  web/package-lock.json
  web/package.json
  web/pages/_document.tsx
  web/pages/documents/[slug].tsx
  web/utils/mdx-utils.ts
Due: web-linter, misc-linter

feat: Move docs to website, rearrange bits (#1475)
  CMakeLists.txt
  LICENSE
  LICENSE.md
  README.docker
  README.md
  TODO.md
  data/CMakeLists.txt
  data/conky.desktop
  data/logo/conky-logomark-violet.png
  data/logo/conky-logomark-violet.svg
  data/logo/conky-logotype-horizontal-violet.png
  data/logo/conky-logotype-horizontal-violet.svg
  data/logo/conky-logotype-vertical-violet.png
  data/logo/conky-logotype-vertical-violet.svg
  web/documents/about.mdx
  web/documents/compiling.mdx
  web/documents/contributing.mdx
  web/documents/docker.mdx
  web/documents/syntax-highlighting.mdx
  web/package-lock.json
  web/package.json
  web/pages/_document.tsx
  web/pages/documents/[slug].tsx
  web/utils/mdx-utils.ts
Due: web-linter, misc-linter

changed the base image to Ubuntu 18.04
  Dockerfile
Due: none

specials: avoid duplicating color specials when both ncurses and a graphical output are enabled
  src/core.cc
  src/specials.cc
Due: cpp-linter

ncurses: fix black
  src/display-ncurses.cc
Due: cpp-linter

display-output: allow no outputs
  src/display-output.cc
Due: cpp-linter

colours: parse 3-digit colour specifications again
  src/colours.cc
  tests/test-colours.cc
Due: cpp-linter

display-x11: fix memory leaks
  src/display-x11.cc
Due: cpp-linter

Add fontconfig platform checks
  cmake/ConkyPlatformChecks.cmake
Due: none

colours: parse 3-digit colour specifications again (#1480)
  src/colours.cc
  tests/test-colours.cc
Due: cpp-linter

display-output: allow no outputs (#1481)
  src/display-output.cc
Due: cpp-linter

ncurses color fixes (#1482)
  src/core.cc
  src/display-ncurses.cc
  src/specials.cc
Due: cpp-linter

Fix memory leaks in X11 display backend (#1483)
  cmake/ConkyPlatformChecks.cmake
  src/display-x11.cc
Due: cpp-linter

Bump version
  cmake/Conky.cmake
Due: none

gradient: initialize alpha when converting from rgb
  src/gradient.cc
  tests/test-gradient.cc
Due: cpp-linter

lua cairo: Add cairo_surface_create_for_rectangle
  lua/cairo.pkg
Due: none

lua cairo: Add cairo_surface_create_for_rectangle (#1492)
  lua/cairo.pkg
Due: none

gradient: initialize alpha when converting from rgb (#1491)
  src/gradient.cc
  tests/test-gradient.cc
Due: cpp-linter

display-wayland: avoid crash when font has no family specified
  src/display-wayland.cc
Due: cpp-linter

display-wayland: avoid crash when font has no family specified (#1498)
  src/display-wayland.cc
Due: cpp-linter

lua text: Supporting infra
  .github/workflows/build-and-test-linux.yaml
  AUTHORS
  Dockerfile
  appimage/build.sh
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  lua/CMakeLists.txt
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
  lua/text.pkg
  src/main.cc
Due: cpp-linter, misc-linter

lua text: initial implementation.
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

Add the ability to center and right align text.
  lua/cairo_text_helper.pkg
  lua/libcairo_text_helper.h
Due: cpp-linter

lua text: Remove test code
  lua/cairo_text_helper.pkg
Due: none

lua cairo: Add mesh patterns.
  lua/cairo.pkg
Due: none

top: do not print ${top mem 1} as inf if $mem not used
  src/top.cc
Due: cpp-linter

freebsd: infallibly allocate 16B buffer on stack
  src/freebsd.cc
Due: cpp-linter

i8k: allocate i8k_procbuf after opening /proc/i8k
  src/i8k.cc
Due: cpp-linter

i8k: do not consider failing to open /proc/i8k fatal
  src/i8k.cc
Due: cpp-linter

logging: remove unused THREAD_CRIT_ERR
  src/logging.h
Due: cpp-linter

i8k: print 'error' for i8k variables if /proc/i8k could not be read
  src/i8k.cc
Due: cpp-linter

core, logging: remove clean_up_without_threads and simplify clean_up
  src/conky.cc
  src/logging.h
  src/main.cc
Due: cpp-linter

logging: define CRIT_ERR_FREE and simplify CRIT_ERR
  src/common.cc
  src/conky.cc
  src/core.cc
  src/darwin.mm
  src/display-x11.cc
  src/dragonfly.cc
  src/freebsd.cc
  src/fs.cc
  src/haiku.cc
  src/ibm.cc
  src/ical.cc
  src/iconv_tools.cc
  src/journal.cc
  src/logging.h
  src/main.cc
  src/mboxscan.cc
  src/net_stat.cc
  src/nvidia.cc
  src/openbsd.cc
  src/proc.cc
  src/pulseaudio.cc
  src/read_tcpip.cc
  src/scroll.cc
  src/sony.cc
  src/tailhead.cc
  src/tcp-portmon.cc
  src/template.cc
  src/text_object.cc
Due: cpp-linter

text_object: fix typo in cutesy error message
  src/text_object.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
