Repository brndnmtthws/conky: changes, and which lefthook commands are due for each by the changed paths.
All: web-linter, cpp-linter, misc-linter, nix-linter

web-linter:
  run: "npx -y eslint --fix {staged_files} \\\n  && git add {staged_files}\n"

cpp-linter:
  run: "clang-format -i {staged_files} \\\n  && git add {staged_files}\n"

misc-linter:
  run: "npx -y prettier --write {staged_files} \\\n  && git add {staged_files}\n"

nix-linter:
  run: "alejandra -q {staged_files} \\\n  && git add {staged_files}\n"

Add sccache to CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
Due: misc-linter

Switch to CMAKE_<LANG>_COMPILER_LAUNCHER
  .github/workflows/build-and-test-linux.yaml
  cmake/CCache.cmake
Due: misc-linter

Fix GitHub cache retention
  .github/workflows/build-and-test-linux.yaml
  cmake/CCache.cmake
Due: misc-linter

Update sccache cache each consecutive run
  .github/workflows/build-and-test-linux.yaml
  cmake/CCache.cmake
Due: misc-linter

Enable sccache compression
  .github/workflows/build-and-test-linux.yaml
Due: misc-linter

Tweak CMAKE_XYZ_COMPILER_LAUNCHER setting
  cmake/CCache.cmake
Due: none

Add sccache to all workflows
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
Due: misc-linter

Add compiler cache and fix CMake deprecation warnings (#2132)
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/OptimizeForArchitecture.cmake
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
  cmake/CCache.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/UninstallConky.cmake.in
  cmake/clang-tidy.cmake
  flake.nix
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: misc-linter

Update blame-ignore file
  .git-blame-ignore-revs
Due: none

Update labeler.yml
  .github/labeler.yml
  .github/release.yml
Due: misc-linter

Update blame ignore & labeler (#2133)
  .git-blame-ignore-revs
  .github/labeler.yml
  .github/release.yml
Due: misc-linter

Compile cairo_xlib Lua bindings as MODULE
  lua/CMakeLists.txt
Due: none

Fix duplicate label
  .github/labeler.yml
Due: misc-linter

Initial SDL display support
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/output/display-output.cc
  src/output/display-output.hh
  src/output/display-sdl.cc
  src/output/display-sdl.hh
  src/output/gui.cc
  src/output/gui.h
Due: cpp-linter

SDL: search font in ~/.fonts/ as well
  src/output/display-sdl.cc
Due: cpp-linter

SDL: Actually make use of gfxPrimitives if available
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/output/display-sdl.cc
Due: cpp-linter

SDL: Build font_search_path dynamically
  src/output/display-sdl.cc
Due: cpp-linter

SDL: Fix drawing text
  src/output/display-sdl.cc
Due: cpp-linter

SDL: cleanup
  src/output/display-sdl.cc
Due: cpp-linter

SDL: print build info
  src/main.cc
Due: cpp-linter

Accept out_to_x as a catch-all out_to_gui
  src/output/gui.cc
Due: cpp-linter

SDL: keep the own_window settings around
  src/output/gui.cc
  src/output/gui.h
Due: cpp-linter

SDL: enable by default if no X or Wayland.
  src/conky.cc
Due: cpp-linter

SDL: take over if out_to_x but neither X nor Wayland built-in.
  src/output/display-sdl.cc
Due: cpp-linter

SDL: Erase with background_color
  src/output/display-sdl.cc
Due: cpp-linter

SDL: Log loading fonts
  src/output/display-sdl.cc
Due: cpp-linter

SDL: offset the gap_x/y from the coordinates
  src/output/display-sdl.cc
Due: cpp-linter

Tidy up, add basic font caching
  .github/labeler.yml
  data/conky.conf
  flake.nix
  src/main.cc
  src/output/display-sdl.cc
  src/output/display-sdl.hh
Due: cpp-linter, misc-linter

Document out_to_sdl in config_settings.yaml
  doc/config_settings.yaml
Due: misc-linter

Update flake lock
  flake.lock
Due: none

SDL: fix typo
  src/output/display-sdl.cc
Due: cpp-linter

SDL: Actually use unordered_map
  src/output/display-sdl.cc
Due: cpp-linter

Check whether first_colour is set before using it as foreground color
  src/conky.cc
Due: cpp-linter

Path conditions:
  web-linter: any of: *.{ts,tsx,js,jsx} and ^web/
  cpp-linter: any of: *.{c,cc,cxx,h,hh,cpp}
  misc-linter: any of: *.{md,json,yml,yaml}
  nix-linter: any of: *.{nix}
